view/tpl/jade/detail-preferential/detail-preferential.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!-- 全屏显示-->
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- 不要让设备识别电话号码和邮箱地址-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- DNS预解析-->
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link href="/resources/css/common/reset.css" rel="stylesheet">
    <link href="/resources/css/common/common.css" rel="stylesheet">
    <link href="/resources/css/detail-preferential/detail-preferential.css" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div>
      <div class="s-title"><i class="icon-back"></i>
        <h1>优惠套餐</h1><i class="icon-share"></i>
      </div>
      <div class="detail-con set-meal">
        <section class="good_detail_meal">
          <div class="favorable h_control">
            <h2>优惠套餐1</h2>
            <div>
              <ul>
                <li class="item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic">
                    <div class="pro-info">
                      <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
                      <p class="p-price">199<em>元</em><span>+</span>2500<em>积分</em></p>
                    </div></a></li>
                <li class="item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic">
                    <div class="pro-info">
                      <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
                      <p class="p-price">199<em>元</em><span>+</span>2500<em>积分          </em></p>
                    </div></a></li>
              </ul>
              <div class="explain">
                <p class="e-txt">优惠套餐1</p>
                <p class="e-price">199<em>元</em><span>+</span>2500<em>积分</em></p>
                <p class="e-ori">市场价<span>300元</span></p>
              </div>
              <p class="save">立省 8元+1000积分</p><a href="javascript:;" class="add-cart">加入购物车</a>
            </div><i class="float_dot up"> </i>
          </div>
        </section>
        <section class="good_simple_meal">
          <div class="set-meal-two">
            <div class="t-title">
              <p class="t-txt">优惠套餐1</p>
              <p class="t-price">199<em>元</em><span>+</span>2500<em>积分</em></p>
            </div>
            <ul class="s-list">
              <li class="s-item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"></a></li>
              <li class="s-item add"><span>+</span></li>
              <li class="s-item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"></a></li>
              <li class="s-item add"><span>+</span></li>
              <li class="s-item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"></a></li>
              <li class="s-item add"><span>+</span></li>
              <li class="s-item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"></a></li>
            </ul><i class="float_dot down"></i>
          </div>
        </section>
      </div>
      <div class="detail-con set-meal current">
        <section class="good_detail_meal">
          <div class="favorable h_control">
            <h2>优惠套餐2</h2>
            <div>
              <ul>
                <li class="item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic">
                    <div class="pro-info">
                      <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
                      <p class="p-price">199<em>元</em><span>+</span>2500<em>积分</em></p>
                    </div></a></li>
                <li class="item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic">
                    <div class="pro-info">
                      <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
                      <p class="p-price">199<em>元</em><span>+</span>2500<em>积分          </em></p>
                    </div></a></li>
              </ul>
              <div class="explain">
                <p class="e-txt">优惠套餐1</p>
                <p class="e-price">199<em>元</em><span>+</span>2500<em>积分</em></p>
                <p class="e-ori">市场价<span>300元</span></p>
              </div>
              <p class="save">立省 8元+1000积分</p><a href="javascript:;" class="add-cart">加入购物车</a>
            </div><i class="float_dot up"> </i>
          </div>
        </section>
        <section class="good_simple_meal">
          <div class="set-meal-two">
            <div class="t-title">
              <p class="t-txt">优惠套餐2</p>
              <p class="t-price">199<em>元</em><span>+</span>2500<em>积分</em></p>
            </div>
            <ul class="s-list">
              <li class="s-item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"></a></li>
              <li class="s-item add"><span>+</span></li>
              <li class="s-item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"></a></li>
              <li class="s-item add"><span>+</span></li>
              <li class="s-item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"></a></li>
              <li class="s-item add"><span>+</span></li>
              <li class="s-item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"></a></li>
            </ul><i class="float_dot down"></i>
          </div>
        </section>
      </div>
      <div class="detail-con set-meal current">
        <section class="good_detail_meal">
          <div class="favorable h_control">
            <h2>优惠套餐2</h2>
            <div>
              <ul>
                <li class="item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic">
                    <div class="pro-info">
                      <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
                      <p class="p-price">199<em>元</em><span>+</span>2500<em>积分</em></p>
                    </div></a></li>
                <li class="item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic">
                    <div class="pro-info">
                      <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
                      <p class="p-price">199<em>元</em><span>+</span>2500<em>积分          </em></p>
                    </div></a></li>
              </ul>
              <div class="explain">
                <p class="e-txt">优惠套餐1</p>
                <p class="e-price">199<em>元</em><span>+</span>2500<em>积分</em></p>
                <p class="e-ori">市场价<span>300元</span></p>
              </div>
              <p class="save">立省 8元+1000积分</p><a href="javascript:;" class="add-cart">加入购物车</a>
            </div><i class="float_dot up"> </i>
          </div>
        </section>
        <section class="good_simple_meal">
          <div class="set-meal-two">
            <div class="t-title">
              <p class="t-txt">优惠套餐2</p>
              <p class="t-price">199<em>元</em><span>+</span>2500<em>积分</em></p>
            </div>
            <ul class="s-list">
              <li class="s-item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"></a></li>
              <li class="s-item add"><span>+</span></li>
              <li class="s-item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"></a></li>
              <li class="s-item add"><span>+</span></li>
              <li class="s-item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"></a></li>
              <li class="s-item add"><span>+</span></li>
              <li class="s-item"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"></a></li>
            </ul><i class="float_dot down">           </i>
          </div>
        </section>
      </div>
    </div>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js" type="text/javascript"></script>
    <script src="/resources/dep/swiper/swiper.min.js" type="text/javascript"></script>
    <script src="/resources/js/remset.js" type="text/javascript"></script>
    <script src="/resources/js/detail_meal.js" type="text/javascript"></script>
  </body>
</html>

resources/tpl/jade/detail-preferential/detail-preferential.jade
doctype html
html
    head
        meta(charset='utf-8')
        // 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；
        meta(content='yes', name='apple-mobile-web-app-capable')
        // 全屏显示
        meta(name='apple-touch-fullscreen', content='yes')
        // 不要让设备识别电话号码和邮箱地址
        meta(content='telephone=no,email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        // DNS预解析
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(href="/resources/css/common/reset.css", rel="stylesheet")
        link(href="/resources/css/common/common.css", rel="stylesheet")
        link(href="/resources/css/detail-preferential/detail-preferential.css", rel="stylesheet")
        title
    body
        div
          div.s-title
            i.icon-back
            h1 优惠套餐
            i.icon-share
          div.detail-con.set-meal
            section.good_detail_meal
              div.favorable.h_control
                h2 优惠套餐1
                div
                  ul
                    li.item
                      a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                        div.pro-info
                          p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                          p.p-price 199
                            em 元
                            span +
                            |2500
                            em 积分
                    li.item
                      a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                        div.pro-info
                          p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                          p.p-price 199
                            em 元
                            span +
                            |2500
                            em 积分          
                  div.explain
                     p.e-txt 优惠套餐1
                     p.e-price 199
                            em 元
                            span +
                            |2500
                            em 积分
                     p.e-ori 市场价
                       span 300元
                  p.save 立省 8元+1000积分
                  a(href="javascript:;").add-cart 加入购物车
                i.float_dot.up  
            section.good_simple_meal
              div.set-meal-two
                div.t-title
                  p.t-txt 优惠套餐1
                  p.t-price 199
                    em 元
                    span +
                    |2500
                    em 积分
                ul.s-list
                 li.s-item
                   a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                 li.s-item.add
                    span +
                 li.s-item
                   a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                 li.s-item.add
                    span +
                 li.s-item
                   a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                 li.s-item.add
                    span +
                 li.s-item
                   a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                i.float_dot.down
          div.detail-con.set-meal.current
            section.good_detail_meal
              div.favorable.h_control
                h2 优惠套餐2
                div
                  ul
                    li.item
                      a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                        div.pro-info
                          p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                          p.p-price 199
                            em 元
                            span +
                            |2500
                            em 积分
                    li.item
                      a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                        div.pro-info
                          p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                          p.p-price 199
                            em 元
                            span +
                            |2500
                            em 积分          
                  div.explain
                     p.e-txt 优惠套餐1
                     p.e-price 199
                            em 元
                            span +
                            |2500
                            em 积分
                     p.e-ori 市场价
                       span 300元
                  p.save 立省 8元+1000积分
                  a(href="javascript:;").add-cart 加入购物车
                i.float_dot.up  
            section.good_simple_meal
              div.set-meal-two
                div.t-title
                  p.t-txt 优惠套餐2
                  p.t-price 199
                    em 元
                    span +
                    |2500
                    em 积分
                ul.s-list
                 li.s-item
                   a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                 li.s-item.add
                    span +
                 li.s-item
                   a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                 li.s-item.add
                    span +
                 li.s-item
                   a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                 li.s-item.add
                    span +
                 li.s-item
                   a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                i.float_dot.down
          div.detail-con.set-meal.current
            section.good_detail_meal
              div.favorable.h_control
                h2 优惠套餐2
                div
                  ul
                    li.item
                      a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                        div.pro-info
                          p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                          p.p-price 199
                            em 元
                            span +
                            |2500
                            em 积分
                    li.item
                      a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                        div.pro-info
                          p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                          p.p-price 199
                            em 元
                            span +
                            |2500
                            em 积分          
                  div.explain
                     p.e-txt 优惠套餐1
                     p.e-price 199
                            em 元
                            span +
                            |2500
                            em 积分
                     p.e-ori 市场价
                       span 300元
                  p.save 立省 8元+1000积分
                  a(href="javascript:;").add-cart 加入购物车
                i.float_dot.up  
            section.good_simple_meal
              div.set-meal-two
                div.t-title
                  p.t-txt 优惠套餐2
                  p.t-price 199
                    em 元
                    span +
                    |2500
                    em 积分
                ul.s-list
                 li.s-item
                   a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                 li.s-item.add
                    span +
                 li.s-item
                   a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                 li.s-item.add
                    span +
                 li.s-item
                   a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                 li.s-item.add
                    span +
                 li.s-item
                   a(href="javascript:;")
                        img(src="/resources/img/pic.jpg").pic
                i.float_dot.down            
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js", type="text/javascript")
        script(src="/resources/dep/swiper/swiper.min.js", type="text/javascript")
        script(src="/resources/js/remset.js", type="text/javascript")
        script(src="/resources/js/detail_meal.js", type="text/javascript")
