view/tpl/jade/integral/integral_car.html

<div class="integral_car clearfix"><a href="javascript:void(0);">
    <div class="item-box"><img src="/resources/img/pic_integral_06.png"/></div></a><a href="javascript:void(0);">
    <div class="item-box"><img src="/resources/img/pic_integral_08.png"/></div></a><a href="javascript:void(0);">
    <div class="item-box"><img src="/resources/img/pic_integral_09.png"/></div></a><a href="javascript:void(0);">
    <div class="item-box"><img src="/resources/img/pic_integral_10.png"/></div></a>
</div>

resources/tpl/jade/integral/integral_car.jade
div.integral_car.clearfix
    - arr=['06','08','09','10'];
    - for (var i = 0; i < 4; i++)
        a(href="javascript:void(0);")
            div.item-box
                img(src="/resources/img/pic_integral_#{arr[i]}.png")
