resources/tpl/jade/integral/integral_banner.jade
div.integral_banner
    div.swiper-banner.swiper-container
        div.swiper-wrapper
            a(href="javascript:void(0);").one-slide.swiper-slide
                img(src="/resources/img/banner.jpg")
            a(href="javascript:void(0);").one-slide.swiper-slide
                img(src="/resources/img/banner.jpg")
            a(href="javascript:void(0);").one-slide.swiper-slide
                img(src="/resources/img/banner.jpg")
        div.pagination
            span.swiper-pagination-switch.swiper-pagination-bullet-active
            span.swiper-pagination-switch
            span.swiper-pagination-switch

view/tpl/jade/integral/integral_banner.html

<div class="integral_banner">
  <div class="swiper-banner swiper-container">
    <div class="swiper-wrapper"><a href="javascript:void(0);" class="one-slide swiper-slide"><img src="/resources/img/banner.jpg"/></a><a href="javascript:void(0);" class="one-slide swiper-slide"><img src="/resources/img/banner.jpg"/></a><a href="javascript:void(0);" class="one-slide swiper-slide"><img src="/resources/img/banner.jpg"/></a></div>
    <div class="pagination"><span class="swiper-pagination-switch swiper-pagination-bullet-active"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
  </div>
</div>
