view/tpl/jade/chewu_index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!-- 全屏显示-->
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- 不要让设备识别电话号码和邮箱地址-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- DNS预解析-->
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link href="/resources/css/common/reset.css" rel="stylesheet">
    <link href="/resources/css/common/common.css" rel="stylesheet">
    <link href="/resources/dep/swiper/swiper.min.css" rel="stylesheet">
    <link href="/resources/css/chewu_index.css" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="back-header">享车务<a href="javascript:void(0);" class="back-space"></a></div>
    <div class="integral_banner">
      <div class="swiper-banner swiper-container">
        <div class="swiper-wrapper"><a href="javascript:void(0);" class="one-slide swiper-slide"><img src="/resources/img/banner.jpg"></a><a href="javascript:void(0);" class="one-slide swiper-slide"><img src="/resources/img/banner.jpg"></a><a href="javascript:void(0);" class="one-slide swiper-slide"><img src="/resources/img/banner.jpg"></a></div>
        <div class="pagination"><span class="swiper-pagination-switch swiper-pagination-bullet-active"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
      </div>
    </div>
    <div class="promotion">
      <div class="index-tit">养车<a href="javascript:void(0);" class="more">更多&nbsp;></a></div>
      <div class="promotion-goods">
        <div class="horizontal-view"><a href="javascript:void(0);" class="goods-item"><span class="left-top-flag">促销</span><img src="/resources/img/index-goods.jpg" class="goods-pic">
            <div class="name">Estee Lauder雅诗兰 黛红石榴水鲜亮</div>
            <div class="price"><span>345</span><em>元</em><em class="add">+</em><span>300</span><em>积分</em></div>
            <div class="market">市场价：￥345</div></a><a href="javascript:void(0);" class="goods-item"><span class="left-top-flag">促销</span><img src="/resources/img/index-goods.jpg" class="goods-pic">
            <div class="name">Estee Lauder雅诗兰 黛红石榴水鲜亮</div>
            <div class="price"><span>345</span><em>元</em><em class="add">+</em><span>300</span><em>积分</em></div>
            <div class="market">市场价：￥345</div></a><a href="javascript:void(0);" class="goods-item"><span class="left-top-flag">促销</span><img src="/resources/img/index-goods.jpg" class="goods-pic">
            <div class="name">Estee Lauder雅诗兰 黛红石榴水鲜亮</div>
            <div class="price"><span>345</span><em>元</em><em class="add">+</em><span>300</span><em>积分</em></div>
            <div class="market">市场价：￥345</div></a>
        </div>
      </div>
    </div>
    <div class="promotion">
      <div class="index-tit">养车<a href="javascript:void(0);" class="more">更多&nbsp;></a></div>
      <div class="promotion-goods">
        <div class="horizontal-view"><a href="javascript:void(0);" class="goods-item"><span class="left-top-flag">促销</span><img src="/resources/img/index-goods.jpg" class="goods-pic">
            <div class="name">Estee Lauder雅诗兰 黛红石榴水鲜亮</div>
            <div class="price"><span>345</span><em>元</em><em class="add">+</em><span>300</span><em>积分</em></div>
            <div class="market">市场价：￥345</div></a><a href="javascript:void(0);" class="goods-item"><span class="left-top-flag">促销</span><img src="/resources/img/index-goods.jpg" class="goods-pic">
            <div class="name">Estee Lauder雅诗兰 黛红石榴水鲜亮</div>
            <div class="price"><span>345</span><em>元</em><em class="add">+</em><span>300</span><em>积分</em></div>
            <div class="market">市场价：￥345</div></a><a href="javascript:void(0);" class="goods-item"><span class="left-top-flag">促销</span><img src="/resources/img/index-goods.jpg" class="goods-pic">
            <div class="name">Estee Lauder雅诗兰 黛红石榴水鲜亮</div>
            <div class="price"><span>345</span><em>元</em><em class="add">+</em><span>300</span><em>积分</em></div>
            <div class="market">市场价：￥345</div></a>
        </div>
      </div>
    </div>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js" type="text/javascript"></script>
    <script src="/resources/dep/swiper/swiper.min.js" type="text/javascript"></script>
    <script src="/resources/js/remset.js" type="text/javascript"></script>
    <script src="/resources/js/chewu_index.js" type="text/javascript"></script>
  </body>
</html>

resources/tpl/jade/chewu_index.jade
doctype html
html
    head
        meta(charset='utf-8')
        // 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；
        meta(content='yes', name='apple-mobile-web-app-capable')
        // 全屏显示
        meta(name='apple-touch-fullscreen', content='yes')
        // 不要让设备识别电话号码和邮箱地址
        meta(content='telephone=no,email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        // DNS预解析
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(href="/resources/css/common/reset.css", rel="stylesheet")
        link(href="/resources/css/common/common.css", rel="stylesheet")
        link(href="/resources/dep/swiper/swiper.min.css", rel="stylesheet")
        link(href="/resources/css/chewu_index.css", rel="stylesheet")
        title
    body
        div.back-header 享车务        
            a(href="javascript:void(0);").back-space
        div.integral_banner
            div.swiper-banner.swiper-container
                div.swiper-wrapper
                    a(href="javascript:void(0);").one-slide.swiper-slide
                        img(src="/resources/img/banner.jpg")
                    a(href="javascript:void(0);").one-slide.swiper-slide
                        img(src="/resources/img/banner.jpg")
                    a(href="javascript:void(0);").one-slide.swiper-slide
                        img(src="/resources/img/banner.jpg")
                div.pagination
                    span.swiper-pagination-switch.swiper-pagination-bullet-active
                    span.swiper-pagination-switch
                    span.swiper-pagination-switch
        - for (var j = 0; j < 2; j++)
            div.promotion
                div.index-tit 养车
                    a(href="javascript:void(0);").more 更多&nbsp;>
                div.promotion-goods
                    div.horizontal-view
                        - for (var i = 0; i < 3; i++)
                            a(href="javascript:void(0);").goods-item
                                span.left-top-flag 促销
                                img(src="/resources/img/index-goods.jpg").goods-pic
                                div.name Estee Lauder雅诗兰 黛红石榴水鲜亮
                                div.price
                                    span 345
                                    em 元
                                    em.add +
                                    span 300
                                    em 积分
                                div.market 市场价：￥345
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js", type="text/javascript")
        script(src="/resources/dep/swiper/swiper.min.js", type="text/javascript")
        script(src="/resources/js/remset.js", type="text/javascript")
        script(src="/resources/js/chewu_index.js", type="text/javascript")
