view/tpl/jade/good_list.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="wap-font-scale" content="no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//s1.cximg.com">
    <link href="/resources/css/common/reset.css" rel="stylesheet">
    <link href="/resources/css/index/index_recommend.css" rel="stylesheet">
    <link href="/resources/css/good_list.css" rel="stylesheet">
    <title>商品列表  </title>
  </head>
  <body>
    <header>
      <input type="text" placeholder="请输入查询条件" class="search"><span class="search_btn"><i class="good_list_icon good_s"></i></span>
    </header>
    <nav>
      <ul class="good_nav">
        <li data-type="all" class="current"><span>综合</span></li>
        <li data-type="number"> <span>销量</span></li>
        <li data-type="price"><span>价格</span><i class="order_up"></i><i class="order_down"></i></li>
        <li data-type="point"><span>积分</span><i class="order_up"></i><i class="order_down"></i></li>
        <li data-type="promote"> <span>促销</span></li>
      </ul>
    </nav>
    <main>
      <ul class="good_list">
        <li class="good_item">
          <div class="good_img"><span class="good_count"></span><img src="/resources/img/good.jpg"></div>
          <div class="good_info">
            <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
            <div class="sale_price"><span class="good_sum"><em>345</em>元</span><span class="market_price">市场价：￥<em>345</em></span></div>
          </div>
        </li>
        <li class="good_item">
          <div class="good_img"><span class="good_count"></span><img src="/resources/img/good.jpg" border="0"></div>
          <div class="good_info">
            <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水</h4>
            <div class="sale_price"><span class="good_sum"><em>345</em>元<i>+</i><em>300</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
          </div>
        </li>
        <li class="good_item">
          <div class="good_img"><span class="good_count"></span><img src="/resources/img/good.jpg" border="0"></div>
          <div class="good_info">
            <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
            <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
          </div>
        </li>
        <li class="good_item">
          <div class="good_img"><span class="good_count"></span><img src="/resources/img/good.jpg" border="0"></div>
          <div class="good_info">
            <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
            <div class="sale_price"><span class="good_sum"><em>345</em>元<i>+</i><em>300</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
          </div>
        </li>
        <li class="good_item">
          <div class="good_img"><span class="good_count"></span><img src="/resources/img/good.jpg" border="0"></div>
          <div class="good_info">
            <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
            <div class="sale_price"><span class="good_sum"><em>345</em>元<i>+</i><em>300</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
          </div>
        </li>
        <li class="good_item">
          <div class="good_img"><span class="good_promote">促销</span><img src="/resources/img/good.jpg" border="0"></div>
          <div class="good_info">
            <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
            <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
          </div>
        </li>
        <li class="good_item">
          <div class="good_img"><img src="/resources/img/good.jpg" border="0"></div>
          <div class="good_info">
            <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
            <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
          </div>
        </li>
        <li class="good_item">
          <div class="good_img"><img src="/resources/img/good.jpg" border="0"></div>
          <div class="good_info">
            <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
            <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
          </div>
        </li>
        <li class="good_item">
          <div class="good_img"><img src="/resources/img/good.jpg" border="0"></div>
          <div class="good_info">
            <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
            <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
          </div>
        </li>
        <li class="good_item">
          <div class="good_img"><img src="/resources/img/good.jpg" border="0"></div>
          <div class="good_info">
            <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
            <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
          </div>
        </li>
        <li class="good_item">
          <div class="good_img"><img src="/resources/img/good.jpg" border="0"></div>
          <div class="good_info">
            <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
            <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
          </div>
        </li>
        <li class="good_item">
          <div class="good_img"><img src="/resources/img/good.jpg" border="0"></div>
          <div class="good_info">
            <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
            <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
          </div>
        </li>
        <li class="good_item">
          <div class="good_img"><img src="/resources/img/good.jpg" border="0"></div>
          <div class="good_info">
            <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
            <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
          </div>
        </li>
      </ul>
    </main>
    <div id="gotopbtn" style="display:none;" class="to_top"></div>
    <script src="/resources/js/remset.js"></script>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js"></script>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/touch.js"></script>
    <script src="/resources/js/good_list.js"></script>
  </body>
</html>

resources/tpl/jade/good_list.jade
doctype html
html
    head
        meta(charset='utf-8')
        meta(content='yes', name='apple-mobile-web-app-capable')
        meta(name='apple-touch-fullscreen', content='yes')
        meta(content='telephone=no,email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(name='wap-font-scale', content="no")
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(rel="dns-prefetch" href="//s1.cximg.com")
        link(href="/resources/css/common/reset.css", rel="stylesheet")
        link(href="/resources/css/index/index_recommend.css", rel="stylesheet")
        link(href="/resources/css/good_list.css", rel="stylesheet")
        title 商品列表  
    body
        header
            input.search(type="text", placeholder="请输入查询条件")
            span.search_btn
                i.good_list_icon.good_s
        nav
            ul.good_nav
                li.current(data-type="all")
                    span 综合
                li(data-type="number") 
                    span 销量
                li(data-type="price")
                    span 价格
                    i.order_up
                    i.order_down
                li(data-type="point")
                    span 积分
                    i.order_up
                    i.order_down
                li(data-type="promote") 
                    span 促销
        main
            ul.good_list
                li.good_item
                    div.good_img
                        span.good_count
                        img(src="/resources/img/good.jpg")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        div.sale_price
                            span.good_sum
                                em 345
                                | 元
                            span.market_price
                                | 市场价：￥
                                em 345
                li.good_item
                    div.good_img
                        span.good_count
                        img(src="/resources/img/good.jpg", border="0")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水
                        div.sale_price
                            span.good_sum
                                em 345
                                | 元
                                i +
                                em 300
                                | 积分
                            span.market_price
                                | 市场价：￥
                                em 345
                li.good_item
                    div.good_img
                        span.good_count
                        img(src="/resources/img/good.jpg", border="0")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        div.sale_price
                            span.good_sum
                                em 3450
                                | 元
                                i +
                                em 3000
                                | 积分
                            span.market_price
                                | 市场价：￥
                                em 345
                li.good_item
                    div.good_img
                        span.good_count
                        img(src="/resources/img/good.jpg", border="0")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        div.sale_price
                            span.good_sum
                                em 345
                                | 元
                                i +
                                em 300
                                | 积分
                            span.market_price
                                | 市场价：￥
                                em 345
                li.good_item
                    div.good_img
                        span.good_count
                        img(src="/resources/img/good.jpg", border="0")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        div.sale_price
                            span.good_sum
                                em 345
                                | 元
                                i +
                                em 300
                                | 积分
                            span.market_price
                                | 市场价：￥
                                em 345
                li.good_item
                    div.good_img
                        span.good_promote 促销
                        img(src="/resources/img/good.jpg", border="0")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        div.sale_price
                            span.good_sum
                                em 3450
                                | 元
                                i +
                                em 3000
                                | 积分
                            span.market_price
                                | 市场价：￥
                                em 345
                li.good_item
                    div.good_img
                        img(src="/resources/img/good.jpg", border="0")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        div.sale_price
                            span.good_sum
                                em 3450
                                | 元
                                i +
                                em 3000
                                | 积分
                            span.market_price
                                | 市场价：￥
                                em 345
                li.good_item
                    div.good_img
                        img(src="/resources/img/good.jpg", border="0")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        div.sale_price
                            span.good_sum
                                em 3450
                                | 元
                                i +
                                em 3000
                                | 积分
                            span.market_price
                                | 市场价：￥
                                em 345
                li.good_item
                    div.good_img
                        img(src="/resources/img/good.jpg", border="0")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        div.sale_price
                            span.good_sum
                                em 3450
                                | 元
                                i +
                                em 3000
                                | 积分
                            span.market_price
                                | 市场价：￥
                                em 345
                li.good_item
                    div.good_img
                        img(src="/resources/img/good.jpg", border="0")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        div.sale_price
                            span.good_sum
                                em 3450
                                | 元
                                i +
                                em 3000
                                | 积分
                            span.market_price
                                | 市场价：￥
                                em 345
                li.good_item
                    div.good_img
                        img(src="/resources/img/good.jpg", border="0")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        div.sale_price
                            span.good_sum
                                em 3450
                                | 元
                                i +
                                em 3000
                                | 积分
                            span.market_price
                                | 市场价：￥
                                em 345
                li.good_item
                    div.good_img
                        img(src="/resources/img/good.jpg", border="0")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        div.sale_price
                            span.good_sum
                                em 3450
                                | 元
                                i +
                                em 3000
                                | 积分
                            span.market_price
                                | 市场价：￥
                                em 345
                li.good_item
                    div.good_img
                        img(src="/resources/img/good.jpg", border="0")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        div.sale_price
                            span.good_sum
                                em 3450
                                | 元
                                i +
                                em 3000
                                | 积分
                            span.market_price
                                | 市场价：￥
                                em 345
        div.to_top#gotopbtn(style="display:none;")
        script(src="/resources/js/remset.js")
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js")
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/touch.js")
        script(src="/resources/js/good_list.js")
