view/tpl/jade/integral_one_col.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!-- 全屏显示-->
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- 不要让设备识别电话号码和邮箱地址-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- DNS预解析-->
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link href="/resources/css/common/reset.css" rel="stylesheet">
    <link href="/resources/css/common/common.css" rel="stylesheet">
    <link href="/resources/css/integral_one_col.css" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="back-header">积分优惠<a href="javascript:void(0);" class="back-space"></a></div>
    <ul class="good_list">
      <!--循环-->
      <li class="good_item">
        <div class="good_img"><span class="good_promote">促销</span><img src="/resources/img/good.jpg" border="0"></div>
        <div class="good_info">
          <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
          <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
        </div>
      </li>
      <li class="good_item">
        <div class="good_img"><span class="good_promote">促销</span><img src="/resources/img/good.jpg" border="0"></div>
        <div class="good_info">
          <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
          <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
        </div>
      </li>
      <li class="good_item">
        <div class="good_img"><span class="good_promote">促销</span><img src="/resources/img/good.jpg" border="0"></div>
        <div class="good_info">
          <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
          <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
        </div>
      </li>
      <li class="good_item">
        <div class="good_img"><span class="good_promote">促销</span><img src="/resources/img/good.jpg" border="0"></div>
        <div class="good_info">
          <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
          <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
        </div>
      </li>
      <li class="good_item">
        <div class="good_img"><span class="good_promote">促销</span><img src="/resources/img/good.jpg" border="0"></div>
        <div class="good_info">
          <h4 class="good_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</h4>
          <div class="sale_price"><span class="good_sum"><em>3450</em>元<i>+</i><em>3000</em>积分</span><span class="market_price">市场价：￥<em>345</em></span></div>
        </div>
      </li>
    </ul>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js" type="text/javascript"></script>
    <script src="/resources/js/remset.js" type="text/javascript"></script>
  </body>
</html>

resources/tpl/jade/integral_one_col.jade
doctype html
html
    head
        meta(charset='utf-8')
        // 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；
        meta(content='yes', name='apple-mobile-web-app-capable')
        // 全屏显示
        meta(name='apple-touch-fullscreen', content='yes')
        // 不要让设备识别电话号码和邮箱地址
        meta(content='telephone=no,email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        // DNS预解析
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(href="/resources/css/common/reset.css", rel="stylesheet")
        link(href="/resources/css/common/common.css", rel="stylesheet")
        link(href="/resources/css/integral_one_col.css", rel="stylesheet")
        title
    body
        div.back-header 积分优惠
            a(href="javascript:void(0);").back-space
        ul.good_list
            //循环
            - for (var i = 0; i < 5; i++)
                li.good_item
                    div.good_img
                        span.good_promote 促销
                        img(src="/resources/img/good.jpg", border="0")
                    div.good_info
                        h4.good_title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        div.sale_price
                            span.good_sum
                                em 3450
                                | 元
                                i +
                                em 3000
                                | 积分
                            span.market_price
                                | 市场价：￥
                                em 345
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js", type="text/javascript")
        script(src="/resources/js/remset.js", type="text/javascript")
