resources/tpl/jade/cart/cart_guess.jade
div.slide
    span.c-line.left
    span.like-icon
    span.title 猜你喜欢
    span.c-line.right  
ul.similar-ul.h_box
    li.similar-list
      a(href="javascript:;")
        img(src="/resources/img/pic.jpg").pic
        p.p-text Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
        p.p-int 345
              em 元
              span +
              |300
              em 积分
        p.p-price 市场价：￥345
      i.shop-cart  
    li.similar-list
      a(href="javascript:;")
        img(src="/resources/img/pic.jpg").pic
        p.p-text Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
        p.p-int 345
              em 元
              span +
              |300
              em 积分
        p.p-price 市场价：￥345
      i.shop-cart  
ul.similar-ul.h_box
    li.similar-list
      a(href="javascript:;")
        img(src="/resources/img/pic.jpg").pic
        p.p-text Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
        p.p-int 345
              em 元
              span +
              |300
              em 积分
        p.p-price 市场价：￥345
      i.shop-cart  
    li.similar-list
      a(href="javascript:;")
        img(src="/resources/img/pic.jpg").pic
        p.p-text Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
        p.p-int 345
              em 元
              span +
              |300
              em 积分
        p.p-price 市场价：￥345
      i.shop-cart  
div.to_top#gotopbtn(style="display:none;")
              

     

view/tpl/jade/cart/cart_guess.html

<div class="slide"><span class="c-line left"></span><span class="like-icon"></span><span class="title">猜你喜欢</span><span class="c-line right"> </span></div>
<ul class="similar-ul h_box">
  <li class="similar-list"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"/>
      <p class="p-text">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</p>
      <p class="p-int">345<em>元</em><span>+</span>300<em>积分</em></p>
      <p class="p-price">市场价：￥345</p></a><i class="shop-cart"> </i></li>
  <li class="similar-list"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"/>
      <p class="p-text">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</p>
      <p class="p-int">345<em>元</em><span>+</span>300<em>积分</em></p>
      <p class="p-price">市场价：￥345</p></a><i class="shop-cart"> </i></li>
</ul>
<ul class="similar-ul h_box">
  <li class="similar-list"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"/>
      <p class="p-text">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</p>
      <p class="p-int">345<em>元</em><span>+</span>300<em>积分</em></p>
      <p class="p-price">市场价：￥345</p></a><i class="shop-cart"> </i></li>
  <li class="similar-list"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"/>
      <p class="p-text">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</p>
      <p class="p-int">345<em>元</em><span>+</span>300<em>积分</em></p>
      <p class="p-price">市场价：￥345</p></a><i class="shop-cart"> </i></li>
</ul>
<div id="gotopbtn" style="display:none;" class="to_top"></div>
