view/tpl/jade/cart/cart_good.html

<section id="cartGoodList" class="cart_good_list">
  <div class="emtry_cart"><i class="cart_icon"></i><span class="txt">购物车空空的哦～,去看看心仪的商品吧～</span><a href="#" class="login_btn">登录</a></div>
  <div class="cart_list_box">
    <div class="all_choose"><span class="checkbox"></span>
      <label>车享自营-配送</label>
    </div>
    <ul>
      <li>
        <div class="sales_promotion_box">
          <div class="promotion_title">促销</div><i class="promotion_ico"></i>
          <div class="promotion_list"><a href="#">328大促328大促328大促328大促</a><a href="#">328大促328大促328大促328大促</a></div>
        </div><a href="#" class="list_box"><span class="checkbox_box"><span class="checkbox active"></span></span>
          <div class="jd listImg"><img src="http://dummyimage.com/185x185/000/fff"/></div><span class="list_content"><span class="title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</span><span class="btn_number"><span data-btn-type="reduce" class="disabled btn_reduce">-</span>
              <input type="text" maxlength="2" value="1" class="good_number"/><span data-btn-type="add" class="btn_add">+</span></span><span class="sort">
              <label>颜色：褐色</label>
              <label>尺码：L</label></span>
            <p class="price"><ins class="money">300</ins>元<span class="plus">+</span><ins class="jifen">222</ins>积分</p>
            <p class="number"> x<span>2</span></p></span></a><span class="handle"><a href="#" class="del">删除</a><a href="#" class="edit">编辑</a><a href="#" class="finish">完成</a></span>
      </li>
    </ul>
    <ul>
      <li>
        <div class="sales_promotion_box">
          <div class="promotion_title">促销</div><i class="promotion_ico"></i><a href="#">328大促328大促328大促328大促</a>
        </div><a href="#" class="list_box"><span class="lost">失效</span>
          <div class="listImg"><img src="http://dummyimage.com/185x185/000/fff"/></div><span class="list_content"><span class="title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200mlEstee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200mlEstee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200mlEstee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</span><span class="btn_number"><span data-btn-type="reduce" class="disabled btn_reduce">-</span>
              <input type="text" maxlength="2" value="1" class="good_number"/><span data-btn-type="add" class="btn_add">+</span></span><span class="sort">
              <label>颜色：褐色</label>
              <label>尺码：L</label></span>
            <p class="price"><ins class="money">345</ins>元<span class="plus">+</span><ins class="jifen"></ins>积分</p>
            <p class="number"> x<span>1</span></p></span></a><span class="handle"><a href="#" class="del">删除</a><a href="#" class="edit">编辑</a><a href="#" class="finish">完成</a></span>
      </li>
    </ul>
    <ul>
      <li><a href="#" class="list_box"><span class="checkbox_box"><span class="checkbox"></span></span>
          <div class="listImg"><img src="http://dummyimage.com/185x185/000/fff"/></div><span class="list_content"><span class="title">Estee Lauder雅诗</span><span class="btn_number"><span data-btn-type="reduce" class="disabled btn_reduce">-</span>
              <input type="text" maxlength="2" value="1" class="good_number"/><span data-btn-type="add" class="btn_add">+</span></span><span class="sort">
              <label>颜色：褐色</label>
              <label>尺码：L</label></span>
            <p class="price"><ins class="money">341</ins>元<span class="plus">+</span><ins class="jifen"></ins>积分</p>
            <p class="number"> x<span>1</span></p></span></a><span class="handle"><a href="#" class="del">删除</a><a href="#" class="edit">编辑</a><a href="#" class="finish">完成</a></span></li>
    </ul>
  </div>
  <div class="cart_list_box">
    <div class="all_choose"><span class="checkbox"></span>
      <label>车享自营-配送</label>
    </div>
    <ul class="list_line">
      <li><a href="#" class="list_box b_line">
          <div class="listImg"><img src="http://dummyimage.com/185x185/000/fff"/></div><span class="list_content"><span class="btn_number"><span data-btn-type="reduce" class="disabled btn_reduce">-</span>
              <input type="text" maxlength="2" value="1" class="good_number"/><span data-btn-type="add" class="btn_add">+</span></span><span class="sort">
              <label>颜色：褐色</label>
              <label>尺码：L</label></span>
            <p class="price"><ins class="money">345</ins>元<span class="plus">+</span><ins class="jifen"></ins>积分</p>
            <p class="number"> x<span>1</span></p></span></a></li>
      <li><a href="#" class="list_box b_line">
          <div class="listImg"><img src="http://dummyimage.com/185x185/000/fff"/></div><span class="list_content"><span class="title">Estee Lauder雅诗</span><span class="sort">
              <label>颜色：褐色</label>
              <label>尺码：L</label></span>
            <p class="price"><ins class="money">345</ins>元<span class="plus">+</span><ins>300</ins>积分
              <p class="number"> x<span>1</span></p>
            </p></span></a></li>
      <li><a href="#" class="list_box b_line">
          <div class="listImg"><img src="http://dummyimage.com/185x185/000/fff"/></div><span class="list_content"><span class="title">Estee Lauder雅诗</span><span class="sort">
              <label>颜色：褐色</label>
              <label>尺码：L</label></span>
            <p class="price"><ins class="money">345</ins>元<span class="plus">+</span><ins>300</ins>积分
              <p class="number"> x<span>1</span></p>
            </p></span></a></li>
      <li class="merger_payment">
        <div class="checkbox_box"><span class="checkbox"></span></div><span class="list_content">
          <div class="price">组合价:<ins class="money">690</ins>元<span class="plus">+</span><ins class="jifen">120</ins>积分<span class="number"> x<span>1</span></span></div><span class="btn_number"><span data-btn-type="reduce" class="disabled btn_reduce">-</span>
            <input type="text" maxlength="2" value="1" class="good_number"/><span data-btn-type="add" class="btn_add">+</span></span><span class="handle"><a href="#" class="del">删除</a><a href="#" class="edit">编辑</a><a href="#" class="finish">完成</a></span></span>
      </li>
    </ul>
  </div>
  <div class="cart_list_box">
    <div class="all_choose"><span class="checkbox_box"><span class="checkbox"></span></span>
      <label>车享自营-配送</label>
    </div>
    <ul>
      <li>
        <div class="sales_promotion_box">
          <div class="promotion_title">促销</div><i class="promotion_ico"></i>
          <div class="promotion_list"><a href="#">328大促328大促328大促328大促</a><a href="#">328大促328大促328大促328大促</a></div>
        </div><a href="#" class="list_box"><span class="checkbox_box"><span class="checkbox active"></span></span>
          <div class="listImg"><img src="http://dummyimage.com/185x185/000/fff"/></div><span class="list_content"><span class="title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</span><span class="btn_number"><span data-btn-type="reduce" class="disabled btn_reduce">-</span>
              <input type="text" maxlength="2" value="1" class="good_number"/><span data-btn-type="add" class="btn_add">+</span></span><span class="sort">
              <label>颜色：褐色</label>
              <label>尺码：L</label></span>
            <p class="price"><ins class="jifen">222</ins>积分</p>
            <p class="number"> x<span>3</span></p></span></a><span class="handle"><a href="#" class="del">删除</a><a href="#" class="edit">编辑</a><a href="#" class="finish">完成</a></span>
      </li>
    </ul>
  </div>
</section>

resources/tpl/jade/cart/cart_good.jade
section.cart_good_list(id="cartGoodList")
    .emtry_cart
        i.cart_icon
        span.txt 购物车空空的哦～,去看看心仪的商品吧～
        a.login_btn(href="#") 登录
    div.cart_list_box
        .all_choose
            span.checkbox
            label 车享自营-配送
        ul
            li
                .sales_promotion_box
                    .promotion_title 促销
                    i.promotion_ico
                    .promotion_list
                        a(href="#") 328大促328大促328大促328大促
                        a(href="#") 328大促328大促328大促328大促
                a.list_box(href="#")
                    span.checkbox_box
                        span.checkbox.active
                    div.jd.listImg
                        img(src="http://dummyimage.com/185x185/000/fff")
                    span.list_content
                        span.title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        include good_number_input
                        span.sort
                            label 颜色：褐色
                            label 尺码：L
                        p.price
                            ins.money 300
                            | 元
                            span.plus +
                            ins.jifen 222
                            | 积分
                        p.number  x
                            span 2
                span.handle
                    a.del(href="#") 删除
                    a.edit(href="#") 编辑
                    a.finish(href="#") 完成
        ul
            li
                .sales_promotion_box
                    .promotion_title 促销
                    i.promotion_ico
                    a(href="#") 328大促328大促328大促328大促
                a.list_box(href="#")
                    span.lost 失效
                    div.listImg
                        img(src="http://dummyimage.com/185x185/000/fff")
                    span.list_content
                        span.title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200mlEstee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200mlEstee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200mlEstee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        include good_number_input
                        span.sort
                            label 颜色：褐色
                            label 尺码：L
                        p.price
                            ins.money 345
                            | 元
                            span.plus +
                            ins.jifen
                            | 积分
                        p.number  x
                            span 1
                span.handle
                    a.del(href="#") 删除
                    a.edit(href="#") 编辑
                    a.finish(href="#") 完成
        ul
            li
                a.list_box(href="#")
                    span.checkbox_box
                        span.checkbox
                    div.listImg
                        img(src="http://dummyimage.com/185x185/000/fff")
                    span.list_content
                        span.title Estee Lauder雅诗
                        include good_number_input
                        span.sort
                            label 颜色：褐色
                            label 尺码：L
                        p.price
                            ins.money 341
                            | 元
                            span.plus +
                            ins.jifen
                            | 积分
                        p.number  x
                            span 1
                span.handle
                    a.del(href="#") 删除
                    a.edit(href="#") 编辑
                    a.finish(href="#") 完成





    div.cart_list_box
        .all_choose
            span.checkbox
            label 车享自营-配送
        ul.list_line
            li
                a.list_box.b_line(href="#")
                    div.listImg
                        img(src="http://dummyimage.com/185x185/000/fff")
                    span.list_content
                        include good_number_input
                        span.sort
                            label 颜色：褐色
                            label 尺码：L
                        p.price
                            ins.money 345
                            | 元
                            span.plus +
                            ins.jifen
                            | 积分
                        p.number  x
                            span 1
            li
                a.list_box.b_line(href="#")
                    div.listImg
                        img(src="http://dummyimage.com/185x185/000/fff")
                    span.list_content
                        span.title Estee Lauder雅诗

                        span.sort
                            label 颜色：褐色
                            label 尺码：L
                        p.price
                            ins.money 345
                            | 元
                            span.plus +
                            ins 300
                            | 积分
                            p.number  x
                                span 1
            li
                a.list_box.b_line(href="#")
                    div.listImg
                        img(src="http://dummyimage.com/185x185/000/fff")
                    span.list_content
                        span.title Estee Lauder雅诗

                        span.sort
                            label 颜色：褐色
                            label 尺码：L
                        p.price
                            ins.money 345
                            | 元
                            span.plus +
                            ins 300
                            | 积分
                            p.number  x
                                span 1
            li.merger_payment
                .checkbox_box
                    span.checkbox
                span.list_content
                    .price
                        | 组合价:
                        ins.money 690
                        | 元
                        span.plus +
                        ins.jifen 120
                        | 积分
                        span.number  x
                            span 1
                    include good_number_input
                    span.handle
                        a.del(href="#") 删除
                        a.edit(href="#") 编辑
                        a.finish(href="#") 完成
    div.cart_list_box
        .all_choose
            span.checkbox_box
                span.checkbox
            label 车享自营-配送
        ul
            li
                .sales_promotion_box
                    .promotion_title 促销
                    i.promotion_ico
                    .promotion_list
                        a(href="#") 328大促328大促328大促328大促
                        a(href="#") 328大促328大促328大促328大促
                a.list_box(href="#")
                    span.checkbox_box
                        span.checkbox.active
                    div.listImg
                        img(src="http://dummyimage.com/185x185/000/fff")
                    span.list_content
                        span.title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        include good_number_input
                        span.sort
                            label 颜色：褐色
                            label 尺码：L
                        p.price

                            ins.jifen 222
                            | 积分
                        p.number  x
                            span 3
                span.handle
                    a.del(href="#") 删除
                    a.edit(href="#") 编辑
                    a.finish(href="#") 完成
