resources/tpl/jade/cart/cart_count.jade
div.c-bottom
  div.address
     lable.title 配送至
     input(type="text",name="",readonly="true").txt.order_address
     i.icon-point.icon_address
  div.payment-total.h_box.flex_pjustify
     div.shp-chk
       span.checkbox
       span.cart-checkbox-text 全选
      div.shp-cart-info 合计:
          span.price
              ins.money 345
              span 元
              span.plus +
              ins.jifen 300
              span 积分
          span.btn-right 去结算

                    

view/tpl/jade/cart/cart_count.html

<div class="c-bottom">
  <div class="address">
    <lable class="title">配送至</lable>
    <input type="text" name="" readonly="true" class="txt order_address"/><i class="icon-point icon_address"></i>
  </div>
  <div class="payment-total h_box flex_pjustify">
    <div class="shp-chk"><span class="checkbox"></span><span class="cart-checkbox-text">全选</span></div>
    <div class="shp-cart-info">合计:<span class="price"><ins class="money">345</ins><span>元</span><span class="plus">+</span><ins class="jifen">300</ins><span>积分</span></span><span class="btn-right">去结算</span></div>
  </div>
</div>
