view/tpl/jade/pay/pay_validate.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="telephone=no, email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="wap-font-scale" content="no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//s1.cximg.com">
    <link href="/resources/css/common/reset.css" rel="stylesheet">
    <link href="/resources/css/common/common.css" rel="stylesheet">
    <link href="/resources/css/pay/pay-popin.css" rel="stylesheet">
    <title>支付结果</title>
  </head>
  <body>
    <div style="display:none" class="mask"></div>
    <div id="mypop" style="display:none" class="popin-wrap">
      <div class="popin-container">
        <div class="popin-content">
          <div class="validate-pop">
            <div class="pop-header">积分消费短信验证</div><a herf="javascript:void(0)" class="pop-close"></a>
            <div class="validateinner">               
              <div class="phone-info">已向您<span>138*******81 </span>手机发送验证码</div>
              <div class="input-group sms">
                <div class="input-text-swrap">
                  <label>输入</label>
                  <input id="faq_captcha" type="tel" maxlength="8" class="input-text">
                </div><a id="faq_getcode" href="#" class="get-btn btn btn-orange">获取验证码</a>
                <div class="tiparea">
                  <div id="mobileErr"><span class="errTxt"></span></div>
                </div>
              </div>
              <div class="btn-group clearfix"><a id="faq_submit" href="#" class="btn fl btn-orange">确定   </a><a href="#" class="btn fr btn-white">取消</a></div>
              <div class="tiparea clearfix"><span>提醒：</span><span>为确保您的积分消费安全，大于等于1000积分的消费必须进行短信验证。 </span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="button1">弹出短信验证框</div>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js" type="text/javascript"></script>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/touch.js"></script>
    <script src="/resources/js/remset.js"></script>
    <script src="/resources/js/pop_validate.js"></script>
  </body>
</html>

resources/tpl/jade/pay/pay_validate.jade
doctype html
html
    head
        meta(charset='utf-8')
        meta(content='yes', name='apple-mobile-web-app-capable')
        meta(name='apple-touch-fullscreen', content='yes')
        meta(content='telephone=no, email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(name='wap-font-scale', content="no")
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(rel="dns-prefetch" href="//s1.cximg.com")
        link(href="/resources/css/common/reset.css", rel="stylesheet")
        link(href="/resources/css/common/common.css", rel="stylesheet")
        link(href="/resources/css/pay/pay-popin.css", rel="stylesheet")
        title 支付结果
    body
        .mask(style='display:none')
        .popin-wrap#mypop(style='display:none')
            .popin-container
                .popin-content
                    .validate-pop
                        .pop-header 积分消费短信验证
                        a.pop-close(herf='javascript:void(0)')
                        .validateinner                
                            .phone-info
                                已向您
                                span 138*******81 
                                手机发送验证码
                            .input-group.sms
                                .input-text-swrap
                                    label 输入
                                    input.input-text#faq_captcha(type='tel')(maxlength='8')
                                a#faq_getcode.get-btn.btn.btn-orange(href='#') 获取验证码
                                .tiparea
                                    #mobileErr
                                        span.errTxt
                            .btn-group.clearfix
                                a.btn.fl.btn-orange#faq_submit(href='#') 确定   
                                a.btn.fr.btn-white(href='#') 取消
                            .tiparea.clearfix
                                span 提醒：
                                span 为确保您的积分消费安全，大于等于1000积分的消费必须进行短信验证。 
        .button1 弹出短信验证框
          
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js", type="text/javascript")
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/touch.js")
        script(src="/resources/js/remset.js")
        script(src="/resources/js/pop_validate.js")
