view/tpl/jade/pay/pay_done.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="telephone=no, email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="wap-font-scale" content="no">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//s1.cximg.com">
    <link href="/resources/css/common/reset.css" rel="stylesheet">
    <link href="/resources/css/pay/pay.css" rel="stylesheet">
    <title>支付结果</title>
  </head>
  <body>
    <div class="pay_container"><i class="pay_icon fail_icon"></i>
      <p class="pay_msg">积分支付成功</p>
    </div>
    <div class="pay_info">
      <div><span>订单金额：</span><span><em>300</em>元<i>+</i><em>500</em>积分</span></div>
      <div><span>可获取积分：<em>500</em>积分</span></div>
    </div>
    <div class="pay_btn">
      <div>
        <button class="view_btn">查看订单</button>
      </div>
      <div>
        <button class="back_btn">返回首页   </button>
      </div>
    </div>
    <script src="/resources/js/remset.js"></script>
  </body>
</html>

resources/tpl/jade/pay/pay_done.jade
doctype html
html
    head
        meta(charset='utf-8')
        meta(content='yes', name='apple-mobile-web-app-capable')
        meta(name='apple-touch-fullscreen', content='yes')
        meta(content='telephone=no, email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(name='wap-font-scale', content="no")
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(rel="dns-prefetch" href="//s1.cximg.com")
        link(href="/resources/css/common/reset.css", rel="stylesheet")
        link(href="/resources/css/pay/pay.css", rel="stylesheet")
        title 支付结果
    body
        .pay_container
            i.pay_icon.fail_icon
            p.pay_msg 积分支付成功
        .pay_info
            div
                span 订单金额：
                span
                    em 300
                    | 元
                    i +
                    em 500
                    | 积分
            div
                span
                    | 可获取积分：
                    em 500
                    | 积分
        .pay_btn
            div
                button.view_btn 查看订单
            div
                button.back_btn 返回首页   
        script(src="/resources/js/remset.js")
