view/tpl/jade/order/order_detail.html

<div class="order_detail">
  <ul class="order_list">
    <li class="order_line">
      <h2>车享自营</h2>
      <div class="good_detail">
        <div class="goodImg clearfix dot">
          <div class="view">
            <div class="scrollView h_box">
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
            </div>
          </div><span class="totalGood"><em>共</em><em class="totalNum">3</em><em>件</em></span>
        </div>
        <div class="goodInfo clearfix">
          <label>配送方式</label>
          <p>上门自提</p>
        </div>
        <div class="goodInfo clearfix">
          <label>收券码手机号</label>
          <p>123456789012</p>
        </div>
        <div class="goodInfo clearfix total">
          <p>合计：<em>1234</em>元+<em>111</em>积分</p>
          <p>共<em>3</em>件商品</p>
        </div>
      </div>
    </li>
    <li class="order_line">
      <h2>车享自营</h2>
      <div class="good_detail">
        <div class="goodImg clearfix dot">
          <div class="view">
            <div class="scrollView h_box">
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
            </div>
          </div><span class="totalGood"><em>共</em><em class="totalNum">3</em><em>件</em></span>
        </div>
        <div class="goodInfo clearfix">
          <label>配送方式</label>
          <p>上门自提</p>
        </div>
        <div class="goodInfo clearfix total">
          <p>合计：<em>1234</em>元+<em>111</em>积分</p>
          <p>共<em>3</em>件商品</p>
        </div>
      </div>
    </li>
    <li class="order_line">
      <h2>京东</h2>
      <div class="good_detail">
        <div class="goodImg clearfix dot">
          <div class="view">
            <div class="scrollView h_box">
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
              <div class="img_block flex_1"><img src="/resources/img/order_good.jpg"/>
                <p>
                   
                  &times<span class="goodNum">1</span>
                </p>
              </div>
            </div>
          </div><span class="totalGood"><em>共</em><em class="totalNum">3</em><em>件</em></span>
        </div>
        <div class="goodInfo clearfix">
          <label>配送方式</label>
          <p>
             
            快递<em>5</em>元
          </p>
        </div>
        <div class="goodInfo clearfix total">
          <p>合计：<em>1234</em>元+<em>111</em>积分</p>
          <p>共<em>3</em>件商品</p>
        </div>
      </div>
    </li>
  </ul>
  <div class="bill">
    <div class="noNeed bill_sec"><i class="icon-select active"></i>不需要发票</div>
    <div class="need clearfix bill_sec"><i class="icon-select"></i>
      <p>需要发票</p>
      <p>仅现金部分可开发票，发票将在发货后的30天寄送</p>
    </div>
    <div class="needInfo">
      <h3>发票抬头</h3>
      <div class="select">
        <button class="focus sec_b person">个人</button>
        <button class="sec_b company">公司</button>
      </div>
      <div class="needInput">
        <input placeholder="请填写单位名称"/>
      </div>
      <p>发票内容</p>
      <p id="billInfo" class="dot">明细</p>
    </div>
  </div>
  <div class="totalInfo">
    <div class="totalLine clearfix">
      <label>商品总价</label>
      <p><em>1234</em>元+<em>111</em>积分</p>
    </div>
    <div class="totalLine clearfix">
      <label>运费</label>
      <p>+<em>0</em>元</p>
    </div>
    <div class="totalLine clearfix">
      <label>优惠</label>
      <p>-<em>0</em>元</p>
    </div>
  </div>
</div>

resources/tpl/jade/order/order_detail.jade
div.order_detail
	ul.order_list
		li.order_line
			h2 车享自营
			div.good_detail
				div.goodImg.clearfix.dot
					div.view
						div.scrollView.h_box
							- for(var i = 0;i < 6;i ++)
								div.img_block.flex_1
									img(src="/resources/img/order_good.jpg")
									p 
										|&times
										span.goodNum 1
					span.totalGood
						em 共
						em.totalNum 3
						em 件
				div.goodInfo.clearfix
					label 配送方式
					p 上门自提
				div.goodInfo.clearfix
					label 收券码手机号
					p 123456789012
				div.goodInfo.clearfix.total
					p
						|合计：
						em 1234
						|元+
						em 111
						|积分
					p
						|共
						em 3
						|件商品
		li.order_line
			h2 车享自营
			div.good_detail
				div.goodImg.clearfix.dot
					div.view
						div.scrollView.h_box
							- for(var i = 0;i < 6;i ++)
								div.img_block.flex_1
									img(src="/resources/img/order_good.jpg")
									p 
										|&times
										span.goodNum 1
					span.totalGood
						em 共
						em.totalNum 3
						em 件
				div.goodInfo.clearfix
					label 配送方式
					p 上门自提
				div.goodInfo.clearfix.total
					p
						|合计：
						em 1234
						|元+
						em 111
						|积分
					p
						|共
						em 3
						|件商品
		li.order_line
			h2 京东
			div.good_detail
				div.goodImg.clearfix.dot
					div.view
						div.scrollView.h_box
							- for(var i = 0;i < 6;i ++)
								div.img_block.flex_1
									img(src="/resources/img/order_good.jpg")
									p 
										|&times
										span.goodNum 1
					span.totalGood
						em 共
						em.totalNum 3
						em 件
				div.goodInfo.clearfix
					label 配送方式
					p 
						|快递
						em 5
						|元
				div.goodInfo.clearfix.total
					p
						|合计：
						em 1234
						|元+
						em 111
						|积分
					p
						|共
						em 3
						|件商品
	div.bill
		div.noNeed.bill_sec
			i.icon-select.active
			|不需要发票
		div.need.clearfix.bill_sec
			i.icon-select
			p 需要发票
			p 仅现金部分可开发票，发票将在发货后的30天寄送
		div.needInfo
			h3 发票抬头
			div.select
				button.focus.sec_b.person 个人
				button.sec_b.company 公司
			div.needInput
				input(placeholder="请填写单位名称")
			p 发票内容
			p.dot#billInfo 明细
	div.totalInfo
		div.totalLine.clearfix
			label 商品总价
			p
				em 1234
				|元+
				em 111
				|积分
		div.totalLine.clearfix
			label 运费
			p
				|+
				em 0
				|元
		div.totalLine.clearfix
			label 优惠
			p
				|-
				em 0
				|元
