view/tpl/jade/order/order_head.html

<div class="add_address dot"><i class="order_icon icon_add"></i><span class="fs_30 add_tip">新增地址</span></div>
<ul class="rec_info dot">
  <li>
    <div class="rec_info_tit fs_24">收货人</div>
    <div class="rec_info_content">
      <label class="rec_label rec_info_name fs_30">忻晓栋</label>
      <label class="rec_label rec_info_phone fs_30">139****9856</label><em class="rec_em fs_22">默认 </em>
    </div>
  </li>
  <li class="address">
    <div class="rec_info_tit fs_24">收货地址</div>
    <div class="rec_info_content">
      <p class="fs_28 rec_info_addr">上海市长宁区华山路1520弄15号财瑞大厦1520弄</p>
    </div>
  </li>
</ul>

resources/tpl/jade/order/order_head.jade
div.add_address.dot
	i.order_icon.icon_add
	span.fs_30.add_tip 新增地址
ul.rec_info.dot
	li
		div.rec_info_tit.fs_24 收货人
		div.rec_info_content
			label.rec_label.rec_info_name.fs_30 忻晓栋
			label.rec_label.rec_info_phone.fs_30 139****9856
			em.rec_em.fs_22 默认 
	li.address
		div.rec_info_tit.fs_24 收货地址
		div.rec_info_content
			p.fs_28.rec_info_addr 上海市长宁区华山路1520弄15号财瑞大厦1520弄
