view/tpl/jade/order/order_addressList.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//s1.cximg.com">
    <link href="/resources/css/common/reset.css" rel="stylesheet">
    <link href="/resources/css/order/order_addressList.css" rel="stylesheet">
    <title>收货地址</title>
    <script src="/resources/js/remset.js"></script>
  </head>
  <body>
    <ul class="address_list">
      <li class="touch current"><a href="javascript:;" class="delete">删除</a>
        <div class="address_item"><i class="address_icon icon_update fr"></i><a href="javascript:void(0);" class="address_info">
            <!--i.address_select.fl-->
            <div class="address_content">
              <p>
                <label class="address_info_name">忻晓栋</label>
                <label class="address_info_phone">139****9856</label><em class="address_em">默认</em>
              </p>
              <p class="address">上海市长宁区华山路1520弄15号</p>
            </div></a></div>
      </li>
      <li class="touch"><a href="javascript:;" class="delete">删除</a>
        <div class="address_item"><i class="address_icon icon_update fr"></i><a href="javascript:void(0);" class="address_info">
            <!--i.address_select.fl-->
            <div class="address_content">
              <p>
                <label class="address_info_name">忻晓栋</label>
                <label class="address_info_phone">139****9856</label><em class="address_em">默认</em>
              </p>
              <p class="address">上海市长宁区华山路1520弄15号</p>
            </div></a></div>
      </li>
      <li class="touch"><a href="javascript:;" class="delete">删除</a>
        <div class="address_item"><i class="address_icon icon_update fr"></i><a href="javascript:void(0);" class="address_info">
            <!--i.address_select.fl-->
            <div class="address_content">
              <p>
                <label class="address_info_name">忻晓栋</label>
                <label class="address_info_phone">139****9856</label><em class="address_em">默认</em>
              </p>
              <p class="address">上海市长宁区华山路1520弄15号</p>
            </div></a></div>
      </li>
    </ul>
    <div class="btn_container">
      <button class="address_btn">新建地址</button>
    </div>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js"></script>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/touch.js"></script>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/fix.js"></script>
    <script src="/resources/js/addrList.js"></script>
  </body>
</html>

resources/tpl/jade/order/order_addressList.jade
doctype html
html
    head
        meta(charset='utf-8')
        meta(content='yes', name='apple-mobile-web-app-capable')
        meta(name='apple-touch-fullscreen', content='yes')
        meta(content='telephone=no,email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(rel="dns-prefetch" href="//s1.cximg.com")
        link(href="/resources/css/common/reset.css", rel="stylesheet")
        link(href="/resources/css/order/order_addressList.css", rel="stylesheet")
        title 收货地址
        script(src="/resources/js/remset.js")
    body
        ul.address_list
            li.touch.current
                a.delete(href="javascript:;") 删除
                div.address_item
                    i.address_icon.icon_update.fr
                    a(href="javascript:void(0);").address_info
                        //i.address_select.fl
                        div.address_content
                            p
                                label.address_info_name 忻晓栋
                                label.address_info_phone 139****9856
                                em.address_em 默认
                            p.address 上海市长宁区华山路1520弄15号
            li.touch
                a.delete(href="javascript:;") 删除
                div.address_item
                    i.address_icon.icon_update.fr
                    a(href="javascript:void(0);").address_info
                        //i.address_select.fl
                        div.address_content
                            p
                                label.address_info_name 忻晓栋
                                label.address_info_phone 139****9856
                                em.address_em 默认
                            p.address 上海市长宁区华山路1520弄15号
            li.touch
                a.delete(href="javascript:;") 删除
                div.address_item
                    i.address_icon.icon_update.fr
                    a(href="javascript:void(0);").address_info
                        //i.address_select.fl
                        div.address_content
                            p
                                label.address_info_name 忻晓栋
                                label.address_info_phone 139****9856
                                em.address_em 默认
                            p.address 上海市长宁区华山路1520弄15号
        div.btn_container
            button.address_btn 新建地址
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js")
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/touch.js")
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/fix.js")
        script(src="/resources/js/addrList.js")
