view/tpl/jade/order/order_addAddress.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link rel="dns-prefetch" href="//s1.cximg.com">
    <link href="/resources/css/common/reset.css" rel="stylesheet">
    <link href="/resources/dep/ECar/mSelect/css/mSelect.css" rel="stylesheet">
    <link href="/resources/css/order/order_addAddress.css" rel="stylesheet">
    <title>收货地址</title>
    <script src="/resources/js/remset.js"></script>
  </head>
  <body>
    <ul class="address_info">
      <li>
        <label>收货人</label>
        <input type="text" placeholder="" name="" data-type="name" class="ipt">
      </li>
      <li>
        <label>手机号码</label>
        <input type="tel" placeholder="" name="" maxlength="11" pattern="[0-9]*" data-type="phone" class="ipt">
      </li>
      <li class="inputArea">
        <label>所在地区</label>
        <input type="text" placeholder="" name="" readonly data-type="address" class="order_address ipt"><i class="order_icon icon_address"></i>
      </li>
      <li>
        <label>详细地址</label>
        <input type="text" placeholder="" name="" data-type="area" class="ipt">
      </li>
      <li>
        <div class="address_tips">
          <p>设为默认地址</p>
          <p>注：每次下单时会使用该地址</p>
        </div>
        <div class="check_btn fr"><span class="radio_btn"></span></div>
      </li>
    </ul>
    <div class="button_container">
      <button class="submit disabled">保存并使用</button>
    </div>
    <div class="address_error"><span class="error_content"></span></div>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js"></script>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/touch.js"></script>
    <script src="/resources/dep/ECar/mSelect/mSelect.js">   </script>
    <script src="/resources/js/order_addAddress.js"></script>
  </body>
</html>

resources/tpl/jade/order/order_addAddress.jade
doctype html
html
    head
        meta(charset='utf-8')
        meta(content='yes', name='apple-mobile-web-app-capable')
        meta(name='apple-touch-fullscreen', content='yes')
        meta(content='telephone=no,email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(rel="dns-prefetch" href="//s1.cximg.com")
        link(href="/resources/css/common/reset.css", rel="stylesheet")
        link(href="/resources/dep/ECar/mSelect/css/mSelect.css", rel="stylesheet")
        link(href="/resources/css/order/order_addAddress.css", rel="stylesheet")
        title 收货地址
        script(src="/resources/js/remset.js")
    body
        ul.address_info
            li
                label 收货人
                input.ipt(type="text", placeholder="", name="", data-type="name")
            li
                label 手机号码
                input.ipt(type="tel", placeholder="", name="", maxlength="11", pattern="[0-9]*", data-type="phone")
            li.inputArea
                label 所在地区
                input.order_address.ipt(type="text", placeholder="", name="", readonly=true, data-type="address")
                i.order_icon.icon_address
            li
                label 详细地址
                input.ipt(type="text", placeholder="", name="", data-type="area")
            li
                div.address_tips
                    p 设为默认地址
                    p 注：每次下单时会使用该地址
                div.check_btn.fr
                    span.radio_btn
        div.button_container
            button.submit.disabled 保存并使用
        div.address_error
            span.error_content

        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js")
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/touch.js")
        script(src="/resources/dep/ECar/mSelect/mSelect.js")    
        script(src="/resources/js/order_addAddress.js")
