resources/tpl/jade/order/order.jade
doctype html
html
    head
        meta(charset='utf-8')
        // 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；
        meta(content='yes', name='apple-mobile-web-app-capable')
        // 全屏显示
        meta(name='apple-touch-fullscreen', content='yes')
        // 不要让设备识别电话号码和邮箱地址
        meta(content='telephone=no,email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        // DNS预解析
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(href="/resources/css/common/reset.css", rel="stylesheet")
        link(href="/resources/css/common/common.css", rel="stylesheet")
        link(href="/resources/css/order/order.css", rel="stylesheet")
        link(href="/resources/css/order/xScrollSelect.css", rel="stylesheet")
        title 订单确认
    body
        include order_head.jade
        include order_detail.jade
        div#xScrollSelect
            div.select-box-cover
            div.select-box
                div.header.clearfix
                    span.cancel 取消
                    span.confirm 完成
                div.content
                    div.indicator
                    div#xScrollSelectwrapper
        include order_commit.jade
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js", type="text/javascript")
        script(src="/resources/js/remset.js", type="text/javascript")
        script(src="/resources/dep/xScrollSelect/iscroll-probe.js", type="text/javascript")
        script(src="/resources/dep/xScrollSelect/xScrollSelect.js", type="text/javascript")
        script(src="/resources/js/order.js", type="text/javascript")

view/tpl/jade/order/order.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!-- 全屏显示-->
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- 不要让设备识别电话号码和邮箱地址-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- DNS预解析-->
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link href="/resources/css/common/reset.css" rel="stylesheet">
    <link href="/resources/css/common/common.css" rel="stylesheet">
    <link href="/resources/css/order/order.css" rel="stylesheet">
    <link href="/resources/css/order/xScrollSelect.css" rel="stylesheet">
    <title>订单确认</title>
  </head>
  <body>
    <div class="add_address dot"><i class="order_icon icon_add"></i><span class="fs_30 add_tip">新增地址</span></div>
    <ul class="rec_info dot">
      <li>
        <div class="rec_info_tit fs_24">收货人</div>
        <div class="rec_info_content">
          <label class="rec_label rec_info_name fs_30">忻晓栋</label>
          <label class="rec_label rec_info_phone fs_30">139****9856</label><em class="rec_em fs_22">默认 </em>
        </div>
      </li>
      <li class="address">
        <div class="rec_info_tit fs_24">收货地址</div>
        <div class="rec_info_content">
          <p class="fs_28 rec_info_addr">上海市长宁区华山路1520弄15号财瑞大厦1520弄</p>
        </div>
      </li>
    </ul>
    <div class="order_detail">
      <ul class="order_list">
        <li class="order_line">
          <h2>车享自营</h2>
          <div class="good_detail">
            <div class="goodImg clearfix dot">
              <div class="view">
                <div class="scrollView h_box">
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                </div>
              </div><span class="totalGood"><em>共</em><em class="totalNum">3</em><em>件</em></span>
            </div>
            <div class="goodInfo clearfix">
              <label>配送方式</label>
              <p>上门自提</p>
            </div>
            <div class="goodInfo clearfix">
              <label>收券码手机号</label>
              <p>123456789012</p>
            </div>
            <div class="goodInfo clearfix total">
              <p>合计：<em>1234</em>元+<em>111</em>积分</p>
              <p>共<em>3</em>件商品</p>
            </div>
          </div>
        </li>
        <li class="order_line">
          <h2>车享自营</h2>
          <div class="good_detail">
            <div class="goodImg clearfix dot">
              <div class="view">
                <div class="scrollView h_box">
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                </div>
              </div><span class="totalGood"><em>共</em><em class="totalNum">3</em><em>件</em></span>
            </div>
            <div class="goodInfo clearfix">
              <label>配送方式</label>
              <p>上门自提</p>
            </div>
            <div class="goodInfo clearfix total">
              <p>合计：<em>1234</em>元+<em>111</em>积分</p>
              <p>共<em>3</em>件商品</p>
            </div>
          </div>
        </li>
        <li class="order_line">
          <h2>京东</h2>
          <div class="good_detail">
            <div class="goodImg clearfix dot">
              <div class="view">
                <div class="scrollView h_box">
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                  <div class="img_block flex_1"><img src="/resources/img/order_good.jpg">
                    <p>
                       
                      &times<span class="goodNum">1</span>
                    </p>
                  </div>
                </div>
              </div><span class="totalGood"><em>共</em><em class="totalNum">3</em><em>件</em></span>
            </div>
            <div class="goodInfo clearfix">
              <label>配送方式</label>
              <p>
                 
                快递<em>5</em>元
              </p>
            </div>
            <div class="goodInfo clearfix total">
              <p>合计：<em>1234</em>元+<em>111</em>积分</p>
              <p>共<em>3</em>件商品</p>
            </div>
          </div>
        </li>
      </ul>
      <div class="bill">
        <div class="noNeed bill_sec"><i class="icon-select active"></i>不需要发票</div>
        <div class="need clearfix bill_sec"><i class="icon-select"></i>
          <p>需要发票</p>
          <p>仅现金部分可开发票，发票将在发货后的30天寄送</p>
        </div>
        <div class="needInfo">
          <h3>发票抬头</h3>
          <div class="select">
            <button class="focus sec_b person">个人</button>
            <button class="sec_b company">公司</button>
          </div>
          <div class="needInput">
            <input placeholder="请填写单位名称">
          </div>
          <p>发票内容</p>
          <p id="billInfo" class="dot">明细</p>
        </div>
      </div>
      <div class="totalInfo">
        <div class="totalLine clearfix">
          <label>商品总价</label>
          <p><em>1234</em>元+<em>111</em>积分</p>
        </div>
        <div class="totalLine clearfix">
          <label>运费</label>
          <p>+<em>0</em>元</p>
        </div>
        <div class="totalLine clearfix">
          <label>优惠</label>
          <p>-<em>0</em>元</p>
        </div>
      </div>
    </div>
    <div id="xScrollSelect">
      <div class="select-box-cover"></div>
      <div class="select-box">
        <div class="header clearfix"><span class="cancel">取消</span><span class="confirm">完成</span></div>
        <div class="content">
          <div class="indicator"></div>
          <div id="xScrollSelectwrapper"></div>
        </div>
      </div>
    </div>
    <div class="order_operation">
      <div class="order_account">
        合计：
        <em>100</em>
        积分
      </div>
      <button class="order_btn_submit disabled">提交订单</button>
    </div>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js" type="text/javascript"></script>
    <script src="/resources/js/remset.js" type="text/javascript"></script>
    <script src="/resources/dep/xScrollSelect/iscroll-probe.js" type="text/javascript"></script>
    <script src="/resources/dep/xScrollSelect/xScrollSelect.js" type="text/javascript"></script>
    <script src="/resources/js/order.js" type="text/javascript"></script>
  </body>
</html>
