view/tpl/jade/order/order_list.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!-- 全屏显示-->
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- 不要让设备识别电话号码和邮箱地址-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- DNS预解析-->
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link href="/resources/css/common/reset.css" rel="stylesheet">
    <link href="/resources/css/common/common.css" rel="stylesheet">
    <link href="/resources/css/order/order_list.css" rel="stylesheet">
    <title>商品清单</title>
  </head>
  <body>
    <h2>车享自营</h2>
    <ul class="order-detail-list">
      <li class="order_info">
        <div class="jd order-img"><img src="http://dummyimage.com/190x190/000/fff"></div>
        <div class="order_content">
          <div class="order_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</div>
          <div class="order_detail"><span class="col">颜色：黑色</span><span class="size">尺码：L</span></div>
          <div class="price"><i class="num">345</i>元<em class="add">+</em><i class="num">300</i>积分
            <div class="number">x1</div>
          </div>
        </div>
      </li>
      <li class="order_info">
        <div class="goods_main clearfix">
          <div class="order-img"><span class="good_promote">促销</span><img src="http://dummyimage.com/190x190/000/fff"></div>
          <div class="order_content">
            <div class="order_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</div>
            <div class="order_detail"><span class="col">颜色：黑色</span><span class="size">尺码：L</span></div>
            <div class="price">
              <div class="number">x1</div>
            </div>
          </div>
        </div>
        <div class="goods_ass clearfix">
          <div class="jd order-img"><img src="http://dummyimage.com/190x190/000/fff"></div>
          <div class="order_content">
            <div class="order_title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</div>
            <div class="order_detail"><span class="col">颜色：黑色</span><span class="size">尺码：L</span></div>
            <div class="price">
              <div class="number">x1</div>
            </div>
          </div>
        </div>
        <div class="mix_price">组合价： <span>345 </span>元 + <span>300</span>积分
          <div class="number">x1</div>
        </div>
      </li>
    </ul>
    <div class="bottom">实付金额：4000.00元+2000积分</div>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js" type="text/javascript"></script>
    <script src="/resources/js/remset.js" type="text/javascript"></script>
  </body>
</html>

resources/tpl/jade/order/order_list.jade
doctype html
html
    head
        meta(charset='utf-8')
        // 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；
        meta(content='yes', name='apple-mobile-web-app-capable')
        // 全屏显示
        meta(name='apple-touch-fullscreen', content='yes')
        // 不要让设备识别电话号码和邮箱地址
        meta(content='telephone=no,email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        // DNS预解析
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(href="/resources/css/common/reset.css", rel="stylesheet")
        link(href="/resources/css/common/common.css", rel="stylesheet")
        link(href="/resources/css/order/order_list.css", rel="stylesheet")
        title 商品清单
    body
        h2 车享自营
        ul.order-detail-list
            li.order_info
                .jd.order-img
                    img(src="http://dummyimage.com/190x190/000/fff")
                .order_content
                    .order_title
                        |Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                    .order_detail
                        span.col 颜色：黑色
                        span.size 尺码：L
                    .price
                        i.num 345
                        |元
                        em.add +
                        i.num 300
                        | 积分
                        .number
                            | x1
            li.order_info
                div.goods_main.clearfix
                    .order-img
                        span.good_promote 促销
                        img(src="http://dummyimage.com/190x190/000/fff")
                    .order_content
                        .order_title
                            |Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        .order_detail
                            span.col 颜色：黑色
                            span.size 尺码：L
                        .price
                            .number
                                | x1
                div.goods_ass.clearfix
                    .jd.order-img
                        img(src="http://dummyimage.com/190x190/000/fff")
                    .order_content
                        .order_title
                            |Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        .order_detail
                            span.col 颜色：黑色
                            span.size 尺码：L
                        .price
                            .number
                                | x1
                div.mix_price
                    |组合价： 
                    span 345 
                    |元 + 
                    span 300
                    |积分
                    .number
                        | x1
        .bottom
            |实付金额：4000.00元+2000积分
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js", type="text/javascript")
        script(src="/resources/js/remset.js", type="text/javascript")
