resources/tpl/jade/index/index_head.jade
div.head
    div.swiper-banner.swiper-container
        div.swiper-wrapper
            a(href="javascript:void(0);").one-slide.swiper-slide
                img(src="/resources/img/banner.jpg")
            a(href="javascript:void(0);").one-slide.swiper-slide
                img(src="/resources/img/banner.jpg")
            a(href="javascript:void(0);").one-slide.swiper-slide
                img(src="/resources/img/banner.jpg")
        div.pagination
            span.swiper-pagination-switch.swiper-pagination-bullet-active
            span.swiper-pagination-switch
            span.swiper-pagination-switch
    div.entrance
        a(href="javascript:void(0);").entrance-box
            img(src="/resources/img/icon-xianghuasuan.png")
            div.logo-name 享划算
        a(href="javascript:void(0);").entrance-box
            img(src="/resources/img/icon-jifengou.png")
            div.logo-name 积分换
        a(href="javascript:void(0);").entrance-box
            img(src="/resources/img/icon-xianjingou.png")
            div.logo-name 现金购
        a(href="javascript:void(0);").entrance-box
            img(src="/resources/img/icon-zhuanjifen.png")
            div.logo-name 赚积分
    div.head-ad
        //-
            div.xiangxiang-laugh
                img(src="/resources/img/icon-xiang-laugh.png")
        div.horn
            img(src="/resources/img/icon-horn.png")
        div.ad-info
            div.ad-show
                a(href="javascript:void(0);") Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水
                a(href="javascript:void(0);") Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水
                a(href="javascript:void(0);") Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水
                a(href="javascript:void(0);") Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水

view/tpl/jade/index/index_head.html

<div class="head">
  <div class="swiper-banner swiper-container">
    <div class="swiper-wrapper"><a href="javascript:void(0);" class="one-slide swiper-slide"><img src="/resources/img/banner.jpg"/></a><a href="javascript:void(0);" class="one-slide swiper-slide"><img src="/resources/img/banner.jpg"/></a><a href="javascript:void(0);" class="one-slide swiper-slide"><img src="/resources/img/banner.jpg"/></a></div>
    <div class="pagination"><span class="swiper-pagination-switch swiper-pagination-bullet-active"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
  </div>
  <div class="entrance"><a href="javascript:void(0);" class="entrance-box"><img src="/resources/img/icon-xianghuasuan.png"/>
      <div class="logo-name">享划算</div></a><a href="javascript:void(0);" class="entrance-box"><img src="/resources/img/icon-jifengou.png"/>
      <div class="logo-name">积分换</div></a><a href="javascript:void(0);" class="entrance-box"><img src="/resources/img/icon-xianjingou.png"/>
      <div class="logo-name">现金购</div></a><a href="javascript:void(0);" class="entrance-box"><img src="/resources/img/icon-zhuanjifen.png"/>
      <div class="logo-name">赚积分</div></a></div>
  <div class="head-ad">
    <div class="horn"><img src="/resources/img/icon-horn.png"/></div>
    <div class="ad-info">
      <div class="ad-show"><a href="javascript:void(0);">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水</a><a href="javascript:void(0);">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水</a><a href="javascript:void(0);">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水</a><a href="javascript:void(0);">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水</a></div>
    </div>
  </div>
</div>
