view/tpl/jade/index/index_recommend.html

<div class="recommend">
  <div class="slide recommend-slide"><span class="c-line left"></span><span class="recommend-icon"></span><span class="title">车享推荐</span><span class="c-line right"></span></div>
  <ul class="similar-ul h_box recommend-row">
    <li class="similar-list"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"/>
        <p class="p-text">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</p>
        <p class="p-int">345<em>元</em><span>+</span>300<em>积分</em></p>
        <p class="p-price">市场价：￥345</p></a>
      <!--i.shop-cart-->
    </li>
    <li class="similar-list"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"/>
        <p class="p-text">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</p>
        <p class="p-int">345<em>元</em><span>+</span>300<em>积分</em></p>
        <p class="p-price">市场价：￥345</p></a>
      <!--i.shop-cart-->
    </li>
  </ul>
  <ul class="similar-ul h_box recommend-row">
    <li class="similar-list"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"/>
        <p class="p-text">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</p>
        <p class="p-int">345<em>元</em><span>+</span>300<em>积分</em></p>
        <p class="p-price">市场价：￥345</p></a>
      <!--i.shop-cart-->
    </li>
    <li class="similar-list"><a href="javascript:;"><img src="/resources/img/pic.jpg" class="pic"/>
        <p class="p-text">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</p>
        <p class="p-int">345<em>元</em><span>+</span>300<em>积分</em></p>
        <p class="p-price">市场价：￥345</p></a>
      <!--i.shop-cart-->
    </li>
  </ul>
</div>
<div id="gotopbtn" style="display:none;" class="to_top"></div>

resources/tpl/jade/index/index_recommend.jade
div.recommend
    div.slide.recommend-slide
        span.c-line.left
        span.recommend-icon
        span.title 车享推荐
        span.c-line.right

    - for (var j = 0; j < 2; j++)
        ul.similar-ul.h_box.recommend-row
            - for (var i = 0; i < 2; i++)
                li.similar-list
                  a(href="javascript:;")
                    img(src="/resources/img/pic.jpg").pic
                    p.p-text Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                    p.p-int 345
                          em 元
                          span +
                          |300
                          em 积分
                    p.p-price 市场价：￥345
                  //i.shop-cart
div.to_top#gotopbtn(style="display:none;")
