view/tpl/jade/index/index_promotion.html

<div class="promotion">
  <div class="index-tit">享划算</div>
  <div class="promotion-goods">
    <div class="horizontal-view"><a href="javascript:void(0);" class="goods-item"><span class="left-top-flag">促销</span><img src="/resources/img/index-goods.jpg" class="goods-pic"/>
        <div class="name">Estee Lauder雅诗兰 黛红石榴水鲜亮</div>
        <div class="price"><span>345</span><em>元</em><em class="add">+</em><span>300</span><em>积分</em></div>
        <div class="market">市场价：￥345</div></a><a href="javascript:void(0);" class="goods-item"><span class="left-top-flag">促销</span><img src="/resources/img/index-goods.jpg" class="goods-pic"/>
        <div class="name">Estee Lauder雅诗兰 黛红石榴水鲜亮</div>
        <div class="price"><span>345</span><em>元</em><em class="add">+</em><span>300</span><em>积分</em></div>
        <div class="market">市场价：￥345</div></a><a href="javascript:void(0);" class="goods-item"><span class="left-top-flag">促销</span><img src="/resources/img/index-goods.jpg" class="goods-pic"/>
        <div class="name">Estee Lauder雅诗兰 黛红石榴水鲜亮</div>
        <div class="price"><span>345</span><em>元</em><em class="add">+</em><span>300</span><em>积分</em></div>
        <div class="market">市场价：￥345</div></a>
    </div>
  </div>
</div>

resources/tpl/jade/index/index_promotion.jade
div.promotion
    div.index-tit 享划算
    div.promotion-goods
        div.horizontal-view
            - for (var i = 0; i < 3; i++)
                a(href="javascript:void(0);").goods-item
                    span.left-top-flag 促销
                    img(src="/resources/img/index-goods.jpg").goods-pic
                    div.name Estee Lauder雅诗兰 黛红石榴水鲜亮
                    div.price
                        span 345
                        em 元
                        em.add +
                        span 300
                        em 积分
                    div.market 市场价：￥345
