resources/tpl/jade/index/index_ulike.jade
div.ulike
    div.index-tit 享你喜欢
    div.like-goods
        a(href="javascript:void(0);").main-box
            div.main-name Estee Lauder雅诗兰黛红石榴 水鲜亮焕采精粹水200ml
            img(src="/resources/img/index-goods.jpg").main-pic
        div.sub-box
            - for (var i = 0; i < 2; i++)
                div.horizontal-view
                    - for (var j = 0; j < 2; j++)
                        a(href="javascript:void(0);").sub-item
                            div.item-name 雅诗兰黛雅诗兰黛
                            img(src="/resources/img/pic.jpg").item-pic
                            div.item-price
                                span 345
                                em 元
                                em.add +
                                span 300
                                em 积分
                            div.item-market 市场价：￥345

view/tpl/jade/index/index_ulike.html

<div class="ulike">
  <div class="index-tit">享你喜欢</div>
  <div class="like-goods"><a href="javascript:void(0);" class="main-box">
      <div class="main-name">Estee Lauder雅诗兰黛红石榴 水鲜亮焕采精粹水200ml</div><img src="/resources/img/index-goods.jpg" class="main-pic"/></a>
    <div class="sub-box">
      <div class="horizontal-view"><a href="javascript:void(0);" class="sub-item">
          <div class="item-name">雅诗兰黛雅诗兰黛</div><img src="/resources/img/pic.jpg" class="item-pic"/>
          <div class="item-price"><span>345</span><em>元</em><em class="add">+</em><span>300</span><em>积分</em></div>
          <div class="item-market">市场价：￥345</div></a><a href="javascript:void(0);" class="sub-item">
          <div class="item-name">雅诗兰黛雅诗兰黛</div><img src="/resources/img/pic.jpg" class="item-pic"/>
          <div class="item-price"><span>345</span><em>元</em><em class="add">+</em><span>300</span><em>积分</em></div>
          <div class="item-market">市场价：￥345</div></a>
      </div>
      <div class="horizontal-view"><a href="javascript:void(0);" class="sub-item">
          <div class="item-name">雅诗兰黛雅诗兰黛</div><img src="/resources/img/pic.jpg" class="item-pic"/>
          <div class="item-price"><span>345</span><em>元</em><em class="add">+</em><span>300</span><em>积分</em></div>
          <div class="item-market">市场价：￥345</div></a><a href="javascript:void(0);" class="sub-item">
          <div class="item-name">雅诗兰黛雅诗兰黛</div><img src="/resources/img/pic.jpg" class="item-pic"/>
          <div class="item-price"><span>345</span><em>元</em><em class="add">+</em><span>300</span><em>积分</em></div>
          <div class="item-market">市场价：￥345</div></a>
      </div>
    </div>
  </div>
</div>
