view/tpl/jade/index/index_menu.html

<div class="menu">
  <div class="tag js_index sel"><img src="/resources/img/index-menu-index_sel.png"/><span>首页</span></div>
  <div class="tag js_category"><img src="/resources/img/index-menu-category.png"/><span>分类</span></div><a href="javascript:void(0);" class="tag js_cart"><img src="/resources/img/index-menu-cart.png"/><span>购物车</span></a><a href="javascript:void(0);" class="tag js_mine"><img src="/resources/img/index-menu-my.png"/><span>我的</span></a>
</div>

resources/tpl/jade/index/index_menu.jade
div.menu
    div.tag.js_index.sel
        img(src="/resources/img/index-menu-index_sel.png")
        span 首页
    div.tag.js_category
        img(src="/resources/img/index-menu-category.png")
        span 分类
    a(href="javascript:void(0);").tag.js_cart
        img(src="/resources/img/index-menu-cart.png")
        span 购物车
    a(href="javascript:void(0);").tag.js_mine
        img(src="/resources/img/index-menu-my.png")
        span 我的
