view/tpl/jade/index/index_integral_buy.html

<div class="integral-buy">
  <div class="index-tit">积分购<a href="javascript:void(0);" class="more">更多&nbsp;></a></div>
  <div class="two-col"><a href="javascript:void(0);" class="two-item">
      <div class="name">Estee Lauder雅诗兰黛红石榴 水鲜亮焕采精粹水200ml</div><img src="/resources/img/index-goods.jpg" class="pic"/>
      <div class="price"><span>300</span><em>积分</em><span class="extra"><em class="operation">+</em><span>300</span><em class="unit">元</em></span></div></a><a href="javascript:void(0);" class="two-item">
      <div class="name">Estee Lauder雅诗兰黛红石榴 水鲜亮焕采精粹水200ml</div><img src="/resources/img/index-goods.jpg" class="pic"/>
      <div class="price"><span>300</span><em>积分</em><span class="extra"><em class="operation">+</em><span>300</span><em class="unit">元</em></span></div></a>
  </div>
  <div class="three-col"><a href="javascript:void(0);" class="three-item"><img src="/resources/img/index-goods.jpg" class="pic"/>
      <div class="name">Estee Lauder雅诗兰 黛红石榴水鲜亮</div>
      <div class="price"><span>300</span><em>积分</em><span class="extra"><em class="operation">+</em><span>300</span><em class="unit">元</em></span></div></a><a href="javascript:void(0);" class="three-item"><img src="/resources/img/index-goods.jpg" class="pic"/>
      <div class="name">Estee Lauder雅诗兰 黛红石榴水鲜亮</div>
      <div class="price"><span>300</span><em>积分</em><span class="extra"><em class="operation">+</em><span>300</span><em class="unit">元</em></span></div></a><a href="javascript:void(0);" class="three-item"><img src="/resources/img/index-goods.jpg" class="pic"/>
      <div class="name">Estee Lauder雅诗兰 黛红石榴水鲜亮</div>
      <div class="price"><span>300</span><em>积分</em><span class="extra"><em class="operation">+</em><span>300</span><em class="unit">元</em></span></div></a>
  </div>
</div>

resources/tpl/jade/index/index_integral_buy.jade
div.integral-buy
    div.index-tit 积分购
        a(href="javascript:void(0);").more 更多&nbsp;>
    div.two-col
        - for (var i = 0; i < 2; i++)
            a(href="javascript:void(0);").two-item
                div.name Estee Lauder雅诗兰黛红石榴 水鲜亮焕采精粹水200ml
                img(src="/resources/img/index-goods.jpg").pic
                div.price
                    span 300
                    em 积分
                    span.extra
                        em.operation +
                        span 300
                        em.unit 元
    div.three-col
        - for (var i = 0; i < 3; i++)
            a(href="javascript:void(0);").three-item
                img(src="/resources/img/index-goods.jpg").pic
                div.name Estee Lauder雅诗兰 黛红石榴水鲜亮
                div.price
                    span 300
                    em 积分
                    span.extra
                        em.operation +
                        span 300
                        em.unit 元
