resources/tpl/jade/order-detail/order-way.jade
ul.order-way
    li.h_box.flex_pjustify
        span.tit 支付方式
        span 抵用券＋积分＋微信支付
    li.h_box.flex_pjustify
        span.tit 配送方式
        span 物流快递
    //li.h_box.flex_pjustify
        span.tit 发票信息
        span 无需发票
    li
      div.h_box.flex_pjustify.r-h
         span.tit 发票信息
         span 个人发票
      div.h_box.flex_pjustify.r-h
         span.tit 发票抬头
         span 上海赛可电子商务有限公司
      div.h_box.flex_pjustify
         span.tit 发票内容
         span 明细             
ul.real-pay
    li
        div.h_box.flex_pjustify.r-h
            span 实付款
            span 
              ins 345
              | 元
              span.plus +
              ins 300
              | 积分
        div.h_box.flex_pjustify
            span 运费
            span 0元
    li
        span.jifen 积分
        span 返积分99点                          

view/tpl/jade/order-detail/order-way.html

<ul class="order-way">
  <li class="h_box flex_pjustify"><span class="tit">支付方式</span><span>抵用券＋积分＋微信支付</span></li>
  <li class="h_box flex_pjustify"><span class="tit">配送方式</span><span>物流快递</span></li>
  <!--li.h_box.flex_pjustify
  span.tit 发票信息
  span 无需发票
  -->
  <li>
    <div class="h_box flex_pjustify r-h"><span class="tit">发票信息</span><span>个人发票</span></div>
    <div class="h_box flex_pjustify r-h"><span class="tit">发票抬头</span><span>上海赛可电子商务有限公司</span></div>
    <div class="h_box flex_pjustify"><span class="tit">发票内容</span><span>明细             </span></div>
  </li>
</ul>
<ul class="real-pay">
  <li>
    <div class="h_box flex_pjustify r-h"><span>实付款</span><span> <ins>345</ins>元<span class="plus">+</span><ins>300</ins>积分</span></div>
    <div class="h_box flex_pjustify"><span>运费</span><span>0元</span></div>
  </li>
  <li><span class="jifen">积分</span><span>返积分99点                          </span></li>
</ul>
