view/tpl/jade/order-detail/order-address.html

<div class="order-info">
  <p>订单编号：<span>160530101001000000201</span></p>
  <p>订单来源：<span>车享自营</span></p>
  <p>订单类型：<span>商品订单</span></p><span class="complete blue">已完成</span><span style="display:none" class="complete red">未发货 </span>
</div>
<div class="delivery"><i class="express-icon"></i>
  <p>【上海市 】上海中部公司派件员：发往承包八区 </p>
  <p>2016-05-05 23:59:59</p><i class="icon-enter"></i>
</div>
<ul class="rec_info">
  <li>
    <div class="rec_info_tit">收货人</div>
    <div class="rec_info_content">
      <label class="rec_label rec_info_name">忻晓栋</label>
      <label class="rec_label rec_info_phone">139****9856</label>
    </div>
  </li>
  <li class="address">
    <div class="rec_info_tit">收货地址</div>
    <div class="rec_info_content">
      <p class="rec_info_addr">上海市长宁区华山路1520弄15号财瑞大厦1520弄   </p>
    </div>
  </li>
</ul>

resources/tpl/jade/order-detail/order-address.jade
div.order-info
	p 订单编号：
		span 160530101001000000201
	p 订单来源：
		span 车享自营
	p 订单类型：
		span 商品订单
	span.complete.blue 已完成
	span.complete.red(style="display:none") 未发货 
div.delivery
	i.express-icon
	p 【上海市 】上海中部公司派件员：发往承包八区 
	p 2016-05-05 23:59:59
	i.icon-enter
ul.rec_info
	li
		div.rec_info_tit 收货人
		div.rec_info_content
			label.rec_label.rec_info_name 忻晓栋
			label.rec_label.rec_info_phone 139****9856
	li.address
		div.rec_info_tit 收货地址
		div.rec_info_content
			p.rec_info_addr 上海市长宁区华山路1520弄15号财瑞大厦1520弄   
