view/tpl/jade/order-detail/order-detail-comment.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!-- 全屏显示-->
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- 不要让设备识别电话号码和邮箱地址-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- DNS预解析-->
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link href="/resources/css/common/reset.css" rel="stylesheet">
    <link href="/resources/css/common/common.css" rel="stylesheet">
    <link href="/resources/css/order-detail/order-detail-comment.css" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="back-header">发布评论<a href="javascript:void(0);" class="back-space"></a></div>
    <main>
      <ul class="mygoods-list">
        <li class="mygoods-item">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
          <div class="dialog-area">
            <textarea placeholder="请填写该商品评论" class="comment-txt"></textarea>
          </div>
          <div style="display: none;" class="tips"><i class="icon-em">!</i><span>商品评论不得少于5个字符</span></div>
        </li>
        <li class="mygoods-item">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
          <div class="dialog-area">
            <textarea placeholder="请填写该商品评论" class="comment-txt"></textarea>
          </div>
          <div style="display: none;" class="tips"><i class="icon-em">!</i><span>商品评论不得少于5个字符</span></div>
        </li>
        <li class="mygoods-item">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
          <div class="tips"><i class="icon-em">!</i><span>该商品已经退货不能提交评论</span></div>
        </li>
        <li class="mygoods-item">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
          <div class="dialog-area">
            <div class="comment-txt clearfix">
              <div class="title">我的评论：</div>
              <div class="info">假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字</div>
            </div>
          </div>
        </li>
        <li class="mygoods-item">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
          <div class="dialog-area">
            <div class="mix-txt clearfix">
              <div class="comment-box clearfix">
                <div class="title">我的评论：</div>
                <div class="info">假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字</div>
              </div>
              <div class="reply-box clearfix">
                <div class="title">车享回复：</div>
                <div class="info">假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字</div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </main><a class="commit-comment">提交评论</a>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js" type="text/javascript"></script>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/touch.js"></script>
    <script src="/resources/js/remset.js" type="text/javascript"></script>
    <script src="/resources/js/order-detail-comment.js" type="text/javascript"></script>
  </body>
</html>

resources/tpl/jade/order-detail/order-detail-comment.jade
doctype html
html
    head
        meta(charset='utf-8')
        // 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；
        meta(content='yes', name='apple-mobile-web-app-capable')
        // 全屏显示
        meta(name='apple-touch-fullscreen', content='yes')
        // 不要让设备识别电话号码和邮箱地址
        meta(content='telephone=no,email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        // DNS预解析
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(href="/resources/css/common/reset.css", rel="stylesheet")
        link(href="/resources/css/common/common.css", rel="stylesheet")
        link(href="/resources/css/order-detail/order-detail-comment.css", rel="stylesheet")
        title
    body
        div.back-header 发布评论
            a(href="javascript:void(0);").back-space
        main
            ul.mygoods-list
                li.mygoods-item
                    div.show.clearfix
                        img(src="/resources/img/order_good.jpg")
                        span Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml
                    div.dialog-area
                        textarea(placeholder="请填写该商品评论").comment-txt
                    div(style="display: none;").tips
                        i.icon-em !
                        span 商品评论不得少于5个字符
                li.mygoods-item
                    div.show.clearfix
                        img(src="/resources/img/order_good.jpg")
                        span Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml
                    div.dialog-area
                        textarea(placeholder="请填写该商品评论").comment-txt
                    div(style="display: none;").tips
                        i.icon-em !
                        span 商品评论不得少于5个字符
                li.mygoods-item
                    div.show.clearfix
                        img(src="/resources/img/order_good.jpg")
                        span Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml
                    div.tips
                        i.icon-em !
                        span 该商品已经退货不能提交评论
                li.mygoods-item
                    div.show.clearfix
                        img(src="/resources/img/order_good.jpg")
                        span Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml
                    div.dialog-area
                        div.comment-txt.clearfix
                            div.title 我的评论：
                            div.info 假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字
                li.mygoods-item
                    div.show.clearfix
                        img(src="/resources/img/order_good.jpg")
                        span Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml
                    div.dialog-area
                        div.mix-txt.clearfix
                            div.comment-box.clearfix
                                div.title 我的评论：
                                div.info 假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字
                            div.reply-box.clearfix
                                div.title 车享回复：
                                div.info 假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字假字
        a.commit-comment 提交评论
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js", type="text/javascript")
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/touch.js")
        script(src="/resources/js/remset.js", type="text/javascript")
        script(src="/resources/js/order-detail-comment.js", type="text/javascript")
