view/tpl/jade/order-detail/order-good.html

<section class="cart_good_list">
  <div class="cart_list_box">
    <!--.all_chooselabel 车享自营
    -->
    <ul>
      <li><a href="#" class="list_box">
          <div class="listImg"><img src="http://dummyimage.com/185x185/000/fff"/></div><span class="list_content"><span class="title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</span><span class="sort">
              <label>颜色：褐色</label>
              <label>尺码：L</label></span>
            <p class="price"><ins class="money">300</ins>元<span class="plus">+</span><ins class="jifen">222</ins>积分</p>
            <p class="number"> x<span>2</span></p></span></a></li>
    </ul>
    <ul>
      <li><a href="#" class="list_box">
          <div class="jd listImg"><img src="http://dummyimage.com/185x185/000/fff"/></div><span class="list_content"><span class="title"><em>【京东商品】 </em>Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</span><span class="sort">
              <label>颜色：褐色</label>
              <label>尺码：L</label></span>
            <p class="price"><ins class="money">300</ins>元<span class="plus">+</span><ins class="jifen">222</ins>积分</p>
            <p class="number"> x<span>2</span></p></span></a></li>
    </ul>
    <ul class="comb">
      <li><a href="#" class="list_box c-line">
          <div class="listImg"><img src="http://dummyimage.com/185x185/000/fff"/></div><span class="list_content"><span class="title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</span><span class="sort">
              <label>颜色：褐色</label>
              <label>尺码：L</label></span>
            <p class="price"><ins class="money">300</ins>元<span class="plus">+</span><ins class="jifen">222</ins>积分</p>
            <p class="number"> x<span>2                                                         </span></p></span></a></li>
      <li><a href="#" class="list_box c-line">
          <div class="listImg"><img src="http://dummyimage.com/185x185/000/fff"/></div><span class="list_content"><span class="title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</span><span class="sort">
              <label>颜色：褐色</label>
              <label>尺码：L</label></span>
            <p class="price"><ins class="money">300</ins>元<span class="plus">+</span><ins class="jifen">222</ins>积分</p>
            <p class="number"> x<span>2</span></p></span></a></li>
      <li><a href="#" class="list_box c-line">
          <div class="listImg"><img src="http://dummyimage.com/185x185/000/fff"/></div><span class="list_content"><span class="title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</span><span class="sort">
              <label>颜色：褐色</label>
              <label>尺码：L</label></span>
            <p class="price"><ins class="money">300</ins>元<span class="plus">+</span><ins class="jifen">222</ins>积分</p>
            <p class="number"> x<span>2   </span></p></span></a></li>
      <li><a href="#" class="list_box c-line">
          <div class="listImg"><img src="http://dummyimage.com/185x185/000/fff"/></div><span class="list_content"><span class="title">Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml</span><span class="sort">
              <label>颜色：褐色</label>
              <label>尺码：L</label></span>
            <p class="price"><ins class="money">300</ins>元<span class="plus">+</span><ins class="jifen">222</ins>积分</p>
            <p class="number"> x<span>2                </span></p></span></a></li>
    </ul>
    <div class="merger_payment"><span class="list_content">
        <div class="price">组合价:<ins class="money">690</ins>元<span class="plus">+</span><ins class="jifen">120</ins>积分<span class="number fr"> x<span>1                    </span></span></div></span></div>
    <div class="surplus js_down">还有7件<i class="float_dot down"></i></div>
    <div style="display: none;" class="surplus js_up"><i class="float_dot up"></i></div>
  </div>
</section>

resources/tpl/jade/order-detail/order-good.jade
section.cart_good_list
    div.cart_list_box
        //.all_choose
            label 车享自营
        ul
            li
                a.list_box(href="#")
                    div.listImg
                        img(src="http://dummyimage.com/185x185/000/fff")
                    span.list_content
                        span.title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        span.sort
                            label 颜色：褐色
                            label 尺码：L
                        p.price
                            ins.money 300
                            | 元
                            span.plus +
                            ins.jifen 222
                            | 积分
                        p.number  x
                            span 2
        ul
            li
                a.list_box(href="#")
                    div.jd.listImg
                        img(src="http://dummyimage.com/185x185/000/fff")
                    span.list_content
                        span.title
                          em 【京东商品】 
                          | Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        span.sort
                            label 颜色：褐色
                            label 尺码：L
                        p.price
                            ins.money 300
                            | 元
                            span.plus +
                            ins.jifen 222
                            | 积分
                        p.number  x
                            span 2
        ul.comb
            li
                a.list_box.c-line(href="#")
                    div.listImg
                        img(src="http://dummyimage.com/185x185/000/fff")
                    span.list_content
                        span.title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        span.sort
                            label 颜色：褐色
                            label 尺码：L
                        p.price
                            ins.money 300
                            | 元
                            span.plus +
                            ins.jifen 222
                            | 积分
                        p.number  x
                            span 2                                                         
            li
                a.list_box.c-line(href="#")
                    div.listImg
                        img(src="http://dummyimage.com/185x185/000/fff")
                    span.list_content
                        span.title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        span.sort
                            label 颜色：褐色
                            label 尺码：L
                        p.price
                            ins.money 300
                            | 元
                            span.plus +
                            ins.jifen 222
                            | 积分
                        p.number  x
                            span 2
            li
                a.list_box.c-line(href="#")
                    div.listImg
                        img(src="http://dummyimage.com/185x185/000/fff")
                    span.list_content
                        span.title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        span.sort
                            label 颜色：褐色
                            label 尺码：L
                        p.price
                            ins.money 300
                            | 元
                            span.plus +
                            ins.jifen 222
                            | 积分
                        p.number  x
                            span 2   
            li
                a.list_box.c-line(href="#")
                    div.listImg
                        img(src="http://dummyimage.com/185x185/000/fff")
                    span.list_content
                        span.title Estee Lauder雅诗兰黛红石榴水鲜亮焕采精粹水200ml
                        span.sort
                            label 颜色：褐色
                            label 尺码：L
                        p.price
                            ins.money 300
                            | 元
                            span.plus +
                            ins.jifen 222
                            | 积分
                        p.number  x
                            span 2                
        div.merger_payment
                span.list_content
                    .price
                        | 组合价:
                        ins.money 690
                        | 元
                        span.plus +
                        ins.jifen 120
                        | 积分
                        span.number.fr  x
                            span 1                    
        div.surplus.js_down 还有7件
               i.float_dot.down
        div(style="display: none;").surplus.js_up
               i.float_dot.up
                            
