view/tpl/jade/order-detail/order-detail-return.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!-- 全屏显示-->
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- 不要让设备识别电话号码和邮箱地址-->
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- DNS预解析-->
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <link href="/resources/css/common/reset.css" rel="stylesheet">
    <link href="/resources/css/common/common.css" rel="stylesheet">
    <link href="/resources/css/order-detail/order-detail-return.css" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <div class="back-header">退货申请<a href="javascript:void(0);" class="back-space"></a></div>
    <main>
      <ul class="comb-goods">
        <li class="one-goods">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
        </li>
      </ul>
      <div class="return-info clearfix"><span class="buy-num">购买数量<em>10</em></span>
        <div class="return-num">退货数量
          <div class="btn_number"><a href="javascript:;" data-btn-type="reduce" class="disabled btn_reduce">-</a>
            <input value="0" type="text" maxLength="2" id="good_number" class="good_number"><a href="javascript:;" data-btn-type="add" class="btn_add">+</a>
          </div>
        </div>
      </div>
      <ul class="comb-goods">
        <li class="one-goods">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
        </li>
        <li class="one-goods">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
        </li>
        <li class="one-goods">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
        </li>
        <li class="one-goods">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
        </li>
        <li class="one-goods">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
        </li>
        <li class="one-goods">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
        </li>
        <li class="one-goods">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
        </li>
        <li class="one-goods">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
        </li>
        <li class="one-goods">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
        </li>
        <li class="one-goods">
          <div class="show clearfix"><img src="/resources/img/order_good.jpg"><span>Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml</span></div>
        </li>
      </ul>
      <div class="show-more">还有7件</div>
      <div style="display: none;" class="show-less"></div>
      <div class="return-info clearfix"><span class="buy-num">购买数量<em>10</em></span>
        <div class="return-num">退货数量
          <div class="btn_number"><a href="javascript:;" data-btn-type="reduce" class="disabled btn_reduce">-</a>
            <input value="0" type="text" maxLength="2" id="good_number" class="good_number"><a href="javascript:;" data-btn-type="add" class="btn_add">+</a>
          </div>
        </div>
      </div>
      <div class="return-info clearfix"><span class="return-reason">退货理由</span>
        <div class="selector clearfix">
          <select class="select-reason">
            <option disabled="disabled" selected="selected">请选择退货原因</option>
            <option value="">不想买了</option>
            <option value="other">其他</option>
          </select><i class="arrow-down"></i>
        </div>
      </div>
      <div style="visibility: hidden;" class="return-detail">
        <textarea placeholder="请在此详细描述"></textarea>
      </div>
      <div class="tips"><i class="icon-em">!</i><span>提交后，客服人员将在11个工作日内与您联系</span></div>
    </main><a class="commit-return">申请退货</a>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js" type="text/javascript"></script>
    <script src="http://s1.cximg.com/cxlib/assets/js/zepto/touch.js"></script>
    <script src="/resources/js/remset.js" type="text/javascript"></script>
    <script src="/resources/js/order-detail-return.js" type="text/javascript"></script>
  </body>
</html>

resources/tpl/jade/order-detail/order-detail-return.jade
doctype html
html
    head
        meta(charset='utf-8')
        // 这是个iphone设备中的safari私有meta标签，它表示：允许全屏模式浏览；
        meta(content='yes', name='apple-mobile-web-app-capable')
        // 全屏显示
        meta(name='apple-touch-fullscreen', content='yes')
        // 不要让设备识别电话号码和邮箱地址
        meta(content='telephone=no,email=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        // DNS预解析
        meta(http-equiv='x-dns-prefetch-control', content='on')
        link(href="/resources/css/common/reset.css", rel="stylesheet")
        link(href="/resources/css/common/common.css", rel="stylesheet")
        link(href="/resources/css/order-detail/order-detail-return.css", rel="stylesheet")
        title
    body
        div.back-header 退货申请
            a(href="javascript:void(0);").back-space
        main
            ul.comb-goods
                li.one-goods
                    div.show.clearfix
                        img(src="/resources/img/order_good.jpg")
                        span Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml
            div.return-info.clearfix
                span.buy-num 购买数量
                    em 10
                div.return-num 退货数量
                    div.btn_number
                        a(href="javascript:;", data-btn-type="reduce").disabled.btn_reduce -
                        input(value="0", type="text", maxLength="2").good_number#good_number
                        a(href="javascript:;", data-btn-type="add").btn_add +
            ul.comb-goods
                - for (var i = 0; i < 10; i++)
                    li.one-goods
                        div.show.clearfix
                            img(src="/resources/img/order_good.jpg")
                            span Estee Lauder雅诗兰黛红石榴水鲜亮焕采 精粹水200ml
            div.show-more 还有7件
            div(style="display: none;").show-less
            div.return-info.clearfix
                span.buy-num 购买数量
                    em 10
                div.return-num 退货数量
                    div.btn_number
                        a(href="javascript:;", data-btn-type="reduce").disabled.btn_reduce -
                        input(value="0", type="text", maxLength="2").good_number#good_number
                        a(href="javascript:;", data-btn-type="add").btn_add +
            div.return-info.clearfix
                span.return-reason 退货理由
                div.selector.clearfix
                    select.select-reason
                        option(disabled="disabled" selected="selected") 请选择退货原因
                        option(value="") 不想买了
                        option(value="other") 其他
                    i.arrow-down
            div(style="visibility: hidden;").return-detail
                textarea(placeholder="请在此详细描述")
            div.tips
                i.icon-em !
                span 提交后，客服人员将在11个工作日内与您联系
        a.commit-return 申请退货
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/zepto-1.1.4.min.js", type="text/javascript")
        script(src="http://s1.cximg.com/cxlib/assets/js/zepto/touch.js")
        script(src="/resources/js/remset.js", type="text/javascript")
        script(src="/resources/js/order-detail-return.js", type="text/javascript")
