view/tpl/jade/order-detail/order-check.html

<div class="order-btn"><a href="javascript:;" class="after-sales">申请售后</a><a href="javascript:;" class="order-view">查看退货</a><a href="javascript:;" class="order-com">评论</a></div>
<!--查看退货-->
<div class="check-con">
  <div class="tit"> 查看退货
    <div class="close fr"><i class="icon-close">×</i></div>
  </div>
  <div class="check-h">       
    <ul class="check-com">
      <li class="item"><a href="javascript:;"><img src="/resources/img/order_good.jpg" class="pic"/>
          <div class="pro-info">
            <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
            <p class="h_box flex_pjustify c-num"><span>申请退货数量：2</span><span class="red">待审核 </span></p>
          </div></a></li>
      <li class="item"><a href="javascript:;"><img src="/resources/img/order_good.jpg" class="pic"/>
          <div class="pro-info">
            <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
            <p class="h_box flex_pjustify c-num"><span>申请退货数量：2</span><span class="blue">已退货</span></p>
          </div></a></li>
      <li class="item"><a href="javascript:;"><img src="/resources/img/order_good.jpg" class="pic"/>
          <div class="pro-info">
            <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
            <p class="h_box flex_pjustify c-num"><span>申请退货数量：2</span><span class="blue">已退货</span></p>
          </div></a></li>
      <li class="item"><a href="javascript:;"><img src="/resources/img/order_good.jpg" class="pic"/>
          <div class="pro-info">
            <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
            <p class="h_box flex_pjustify c-num"><span>申请退货数量：2</span><span class="blue">已退货</span></p>
          </div></a></li>
      <li class="item"><a href="javascript:;"><img src="/resources/img/order_good.jpg" class="pic"/>
          <div class="pro-info">
            <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
            <p class="h_box flex_pjustify c-num"><span>申请退货数量：2</span><span class="red">待审核 </span></p>
          </div></a></li>
      <li class="item"><a href="javascript:;"><img src="/resources/img/order_good.jpg" class="pic"/>
          <div class="pro-info">
            <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
            <p class="h_box flex_pjustify c-num"><span>申请退货数量：2</span><span class="blue">已退货</span></p>
          </div></a></li>
      <li class="item"><a href="javascript:;"><img src="/resources/img/order_good.jpg" class="pic"/>
          <div class="pro-info">
            <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
            <p class="h_box flex_pjustify c-num"><span>申请退货数量：2</span><span class="blue">已退货</span></p>
          </div></a></li>
      <li class="item"><a href="javascript:;"><img src="/resources/img/order_good.jpg" class="pic"/>
          <div class="pro-info">
            <p class="p-txt">Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶</p>
            <p class="h_box flex_pjustify c-num"><span>申请退货数量：2</span><span class="blue">已退货                </span></p>
          </div></a></li>
    </ul>
  </div>
</div>
<!--查看券码-->
<!--div.check-con
div.tit  查看券码
    div.close.fr
        i.icon-close ×
div.check-h        
    div.check-com        
        ul
            li.item.no-line
              a(href="javascript:;")
                img(src="/resources/img/order_good.jpg").pic
                div.pro-info
                  p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                  p.c-num.red 发送到手机
        ul.coupon.h_box
          li.cou-item.h_box
            div.cou-txt
               |券码
               br
               |已使用
            div.cou-time
              p 2002639373
              p 有效期:2016-05-05
            div.icon-rad
          li.cou-item.h_box
            div.cou-txt
               |券码
               br
               |已使用
            div.cou-time
              p 2002639373
              p 有效期:2016-05-05
            div.icon-rad
        ul.coupon.h_box
          li.cou-item.h_box
            div.cou-txt
               |券码
               br
               |已使用
            div.cou-time
              p 2002639373
              p 有效期:2016-05-05
            div.icon-rad
          li.cou-item.h_box
            div.cou-txt
               |券码
               br
               |已使用
            div.cou-time
              p 2002639373
              p 有效期:2016-05-05
            div.icon-rad
    div.check-com        
        ul
            li.item.no-line
              a(href="javascript:;")
                img(src="/resources/img/order_good.jpg").pic
                div.pro-info
                  p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                  p.c-num.red 发送到手机
        ul.coupon.h_box
          li.cou-item.h_box
            div.cou-txt
               |券码
               br
               |已使用
            div.cou-time
              p 2002639373
              p 有效期:2016-05-05
            div.icon-rad
          li.cou-item.h_box
            div.cou-txt
               |券码
               br
               |已使用
            div.cou-time
              p 2002639373
              p 有效期:2016-05-05
            div.icon-rad
        ul.coupon.h_box
          li.cou-item.h_box
            div.cou-txt
               |券码
               br
               |已使用
            div.cou-time
              p 2002639373
              p 有效期:2016-05-05
            div.icon-rad
          li.cou-item.h_box
            div.cou-txt
               |券码
               br
               |已使用
            div.cou-time
              p 2002639373
              p 有效期:2016-05-05
            div.icon-rad            
-->

resources/tpl/jade/order-detail/order-check.jade
div.order-btn
    a.after-sales(href="javascript:;") 申请售后
    a.order-view(href="javascript:;") 查看退货
    a.order-com(href="javascript:;") 评论
//查看退货
div.check-con
    div.tit  查看退货
        div.close.fr
            i.icon-close ×
    div.check-h        
        ul.check-com
            li.item
              a(href="javascript:;")
                img(src="/resources/img/order_good.jpg").pic
                div.pro-info
                  p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                  p.h_box.flex_pjustify.c-num
                    span 申请退货数量：2
                    span.red 待审核 
            li.item
              a(href="javascript:;")
                img(src="/resources/img/order_good.jpg").pic
                div.pro-info
                  p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                  p.h_box.flex_pjustify.c-num
                    span 申请退货数量：2
                    span.blue 已退货
            li.item
              a(href="javascript:;")
                img(src="/resources/img/order_good.jpg").pic
                div.pro-info
                  p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                  p.h_box.flex_pjustify.c-num
                    span 申请退货数量：2
                    span.blue 已退货
            li.item
              a(href="javascript:;")
                img(src="/resources/img/order_good.jpg").pic
                div.pro-info
                  p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                  p.h_box.flex_pjustify.c-num
                    span 申请退货数量：2
                    span.blue 已退货
            li.item
              a(href="javascript:;")
                img(src="/resources/img/order_good.jpg").pic
                div.pro-info
                  p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                  p.h_box.flex_pjustify.c-num
                    span 申请退货数量：2
                    span.red 待审核 
            li.item
              a(href="javascript:;")
                img(src="/resources/img/order_good.jpg").pic
                div.pro-info
                  p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                  p.h_box.flex_pjustify.c-num
                    span 申请退货数量：2
                    span.blue 已退货
            li.item
              a(href="javascript:;")
                img(src="/resources/img/order_good.jpg").pic
                div.pro-info
                  p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                  p.h_box.flex_pjustify.c-num
                    span 申请退货数量：2
                    span.blue 已退货
            li.item
              a(href="javascript:;")
                img(src="/resources/img/order_good.jpg").pic
                div.pro-info
                  p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                  p.h_box.flex_pjustify.c-num
                    span 申请退货数量：2
                    span.blue 已退货                
//查看券码
//div.check-con
    div.tit  查看券码
        div.close.fr
            i.icon-close ×
    div.check-h        
        div.check-com        
            ul
                li.item.no-line
                  a(href="javascript:;")
                    img(src="/resources/img/order_good.jpg").pic
                    div.pro-info
                      p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                      p.c-num.red 发送到手机
            ul.coupon.h_box
              li.cou-item.h_box
                div.cou-txt
                   |券码
                   br
                   |已使用
                div.cou-time
                  p 2002639373
                  p 有效期:2016-05-05
                div.icon-rad
              li.cou-item.h_box
                div.cou-txt
                   |券码
                   br
                   |已使用
                div.cou-time
                  p 2002639373
                  p 有效期:2016-05-05
                div.icon-rad
            ul.coupon.h_box
              li.cou-item.h_box
                div.cou-txt
                   |券码
                   br
                   |已使用
                div.cou-time
                  p 2002639373
                  p 有效期:2016-05-05
                div.icon-rad
              li.cou-item.h_box
                div.cou-txt
                   |券码
                   br
                   |已使用
                div.cou-time
                  p 2002639373
                  p 有效期:2016-05-05
                div.icon-rad
        div.check-com        
            ul
                li.item.no-line
                  a(href="javascript:;")
                    img(src="/resources/img/order_good.jpg").pic
                    div.pro-info
                      p.p-txt Avene 雅漾 无皂基平衡洁肤凝胶 125毫升无皂基平基胶无皂基平衡洁肤凝胶
                      p.c-num.red 发送到手机
            ul.coupon.h_box
              li.cou-item.h_box
                div.cou-txt
                   |券码
                   br
                   |已使用
                div.cou-time
                  p 2002639373
                  p 有效期:2016-05-05
                div.icon-rad
              li.cou-item.h_box
                div.cou-txt
                   |券码
                   br
                   |已使用
                div.cou-time
                  p 2002639373
                  p 有效期:2016-05-05
                div.icon-rad
            ul.coupon.h_box
              li.cou-item.h_box
                div.cou-txt
                   |券码
                   br
                   |已使用
                div.cou-time
                  p 2002639373
                  p 有效期:2016-05-05
                div.icon-rad
              li.cou-item.h_box
                div.cou-txt
                   |券码
                   br
                   |已使用
                div.cou-time
                  p 2002639373
                  p 有效期:2016-05-05
                div.icon-rad            
